.card {
  width: 65%;
  margin: 35px auto;
}

/* #safe_id_g0wqtvsvc1g {
  width: 1320px !important;
  height: 450px !important;
} */

.admin-CategoriesChart {
  float: left;
  margin: 5px 0 20px -400px;
  height: 50px;
}

.admin-CategoriesChart-button {
  font-family: "Kanit", sans-serif;
  font-size: 16px !important;
  margin: 0 10px 0 0 !important;
}

.admin-header-chart {
  font-size: 16px;
}

.admin-select-chart {
  font-family: "Kanit", sans-serif;
  width: 25% !important;
  float: right;
  font-size: 16px;
  margin: 15px 25px 0 0;
}

@media only screen and (min-width: 1920px) {
}

@media only screen and (max-width: 1367px) {
}

@media only screen and (max-width: 1025px) {
}

@media only screen and (max-width: 769px) {
}

@media only screen and (max-width: 415px) {
}

@media only screen and (max-width: 376px) {
}

@media only screen and (max-width: 321px) {
}
