.h1-report { 
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    color:  #5c5c5c;
}

.h2-report { 
    margin: 3rem auto 2rem auto;
    text-align: left;
    width: 60%;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: #5c5c5c;
}

.container-report0{
    margin: 0 auto 100px auto;
}

.container-report1{
    margin: 1rem auto 30px auto;
    width: 45%;
}

.container-report2{
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    box-shadow: 5px 10px 25px rgba(0,0,0,.2);
}

.hide-report-button {
    position: relative;
    cursor: pointer;
    color: #212529;
    font-size: 18px;
}

.hide-report-button i {
    position: absolute;
    top: 0;
    right: 0;
}

.hide-report-button i:hover {
    color: white;
    font-size: 18px;
    border-radius: 50%;
    background-color: #dadada;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.textarea-report {
    width: 120%;
    height: auto;
}

.container-report5{
    width: 60%;
    margin: 3rem auto 1rem auto;
}

.status-report {
    display: inline-block;
    margin-right: 1rem;
    border-radius: .5rem;
    padding: 10px;
    width: auto;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-family: 'Kanit', sans-serif;
    color: white;
}

.verify-report {
    background-color: #5db95c;
}

.verify-report:hover{
    background-color: #54a752; 
}

.nonverify-report {
    background-color: #ff6961;
}

.nonverify-report:hover {
    background-color: #ff5343;
}

.hidden-report {
    background-color: rgb(160, 160, 160);
}

.hidden-report:hover {
    background-color: #888888;
}

.status-report span {
    margin-right: .5rem;
}

.reportimg-setting {
    width: 30px;
}

.proof-button-reported {
    color: #007bff;
    width: auto;
    cursor: pointer;
    display: inline-block;
    transition: box-shadow 0.4s ease;
    margin-left: auto;
    padding-left: 5px;
    font-weight: 500;
}

.proof-button-reported:hover {
    margin-left: auto;
    color: #0056b3;
    text-decoration: none;
}

.count-report {
    margin-top: 1rem;
}

.menu-containerreportsetting {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.reportbuttonsetting {
    margin-top: -3px;
    width: 30px;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    padding: 1px 0px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto; /* Strictly for positioning */
    position: absolute;
    top: -5px;
    right: -10px;
}
  
.reportbuttonsetting:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
  
.reportmenusetting {
    cursor: pointer;
    background: #ffffff;
    border-radius: 7px;
    position: absolute;
    top: 20px;
    right: -5px;
    font-size: 15px;
    width: auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
 }
  
.reportmenusetting.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
  
.reportmenusetting .ul-reportmenusetting {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.reportmenusetting .li-reportmenusetting {
    border-bottom: 1px solid #dddddd;
}

.reportmenusetting .li-reportmenusetting .a-reportmenusetting {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    display: block;
}
  
.li-reportmenusetting {
    color: #333333;
}

.li-reportmenusetting:hover {
    background: #e6e6e6;
}

.spanreport{
    color: #ff392e;
}

.reportother{
    color: blue;
    font-size: 15px;
    text-align: right;
    margin-right: .5rem;
}

.fa-check-circle {
    color: white;
}

.container-reportbottom{
    padding-bottom: 20px;
}

/*----------------------------------------------------------------

/*Responsive*/ 

/* notebook */
@media only screen and (max-width: 1921px) {
    .h1-report { 
        font-size: 22px;
    }
    .status-report span, .status-report span i {
        font-size: 16px;
    }
    .h2-report {
        font-size: 18px;
        width: 45%;
    } 
    .container-report2{
        font-size: 16px;
    }
    .reportother {
        font-size: 14px;
    }
    .container-report1, .container-report5{
        width: 45%;
    }
    .container-report5 {
        margin: 3rem auto 4rem auto;
    }
}

/* computer */
@media only screen and (min-width: 1920px) {
    .h1-report { 
        font-size: 25px;
    }
    .status-report span, .status-report span i, .form-check-label {
        font-size: 18px !important;
    }
    .h2-report {
        font-size: 20px;
        width: 40%;
    } 
    .container-report2{
        font-size: 18px;
    }
    .reportother {
        font-size: 16px;
    }
    .container-report1, .container-report5{
        width: 40%;
    }
    .container-report5 {
        margin: 4rem auto 5rem auto;
    }
}

/* Huak */
@media only screen and (max-width: 1367px) {
    .h1-report { 
        font-size: 22px;
    }
    .status-report span, .status-report span i {
        font-size: 16px;
    }
    .h2-report {
        font-size: 18px;
        width: 50%;
    } 
    .container-report2{
        font-size: 16px;
    }
    .reportother {
        font-size: 14px;
    }
    .container-report1, .container-report5{
        width: 50%;
    }
}

/* iPad Pro */ 
@media only screen and (max-width: 1025px) {
    .h1-report { 
        font-size: 25px;
    }
    .container-report5 {
        text-align: center;
        width: 65%;
        margin: 3rem auto 3rem auto;
    }
    .status-report span, .status-report span i {
        font-size: 18px;
    }
    .h2-report {
        font-size: 20px;
        width: 65%;
    } 
    .container-report2{
        font-size: 18px;
    }
    .reportother {
        font-size: 16px;
    }
    .container-report1{
        width: 65%;
    }
    .hide-report-button i {
        position: absolute;
        top: -7px;
        right: -7px;
    }
    .reportbuttonsetting {
        margin-top: -10px;
        width: 25px;
        position: absolute;
        top: -0px;
        right: -15px;
    }
    .reportmenusetting {
        position: absolute;
        top: 20px;
        right: -30px;
     }
     .reportimg-setting {
        width: 25px;
    }
}

/* iPad */
@media only screen and (max-width: 769px) {
    .container-report1{
        width: 80%;
    }
    .h1-report { 
        font-size: 19px;
    }
    .status-report span, .status-report span i {
        font-size: 13px;
    }
    .h2-report {
        font-size: 17px;
        width: 70%;
    } 
    .container-report2{
        font-size: 13px;
    }
    .reportother {
        font-size: 12px;
    }
    .container-report2{
        margin: 0 auto;
        width: 95%;
    }
    .spanreport{
        margin-left: -270px;
    }
    .container-report5 {
        text-align: center;
        margin: 3rem auto 3rem auto;
    }
    .hide-report-button i {
        position: absolute;
        top: -7px;
        right: -7px;
    }
}

/* iPhone 6/7/8 + */
@media only screen and (max-width: 415px) {
    .container-report1{
        width: 95%;
    }
    .h1-report { 
        font-size: 22px;
        margin-top: 30px;
    }
    .status-report {
        padding: 6px;
    }
    .status-report span, .status-report span i, .form-label {
        font-size: 14px;
    }
    .h2-report {
        font-size: 17px;
        width: 85%;
    } 
    .container-report2{
        font-size: 14px;
    }
    .reportother {
        font-size: 13px;
    }
    .container-report2{
        margin: 0 auto;
        width: 90%;
    }
    .spanreport{
        margin-left: -270px;
    }
    .container-report5 {
        text-align: center;
        margin: 2rem auto 2rem auto;
        width: 95%;
    }
    .report-right, report-left {
        display: block;
    }
    .hide-report-button i {
        position: absolute;
        top: -7px;
        right: -10px;
    }
    .reportbuttonsetting {
        margin-top: -10px;
        width: 25px;
        position: absolute;
        top: -0px;
        right: -15px;
    }
    .reportmenusetting {
        position: absolute;
        top: 20px;
        right: -30px;
        font-size: 12px;
        z-index: 1;
     }
     .reportimg-setting {
        width: 25px;
    }
     .container-reportbottom{
        padding-bottom: 1px;
    }
    .mobile-size {
        margin-left: -15px;
    }
}

/* iPhone 6/7/8 */
@media only screen and (max-width: 376px) {
    .h1-report { 
        font-size: 20px;
    }
    .status-report {
        margin-right: .5rem;
    }
    .status-report span, .status-report span i, .form-label {
        font-size: 14px;
    }
    .h2-report {
        font-size: 17px;
        width: 85%;
    } 
    .container-report2{
        font-size: 14px;
    }
    .reportother {
        font-size: 13px;
    }
    .container-report5 {
        text-align: center;
        margin: 2rem auto 2rem auto;
        width: 95%;
    }
    .hide-report-button i {
        position: absolute;
        top: -7px;
        right: -15px;
        font-size: 14px;
    }
}

/* i[hone 5 */
@media only screen and (max-width: 321px) {
    .h1-report { 
        font-size: 20px;
    }
    .status-report {
        margin-right: .5rem;
        padding: 3px;
    }
    .status-report span, .status-report span i, .form-label, .form-check-label  {
        font-size: 13px;
    }
    .reportother {
        font-size: 12px;
    }
    .container-report5 {
        text-align: center;
        margin: 2rem auto 2rem auto;
        width: 95%;
    }
    .reportbuttonsetting {
        margin-top: -10px;
        width: 20px;
        position: absolute;
        top: -3px;
        right: -18px;
    }
    .reportimg-setting {
        width: 20px;
    }
}