.box-load-comment{
    position: static;
    margin-left: 210px;
    margin-bottom: 40px;
}

/*Responsive*/
@media only screen and (min-width: 1920px) {
    .box-load-comment{
        margin-left: 280px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 1367px) {
    .box-load-comment{
        margin-left: 180px;
        margin-bottom: 50px;
    }
}
