.box-load-edit{
    position: static;
    margin-left: 315px;
    margin-bottom: 50px;
}

/*Responsive*/
@media only screen and (min-width: 1920px) {
    .box-load-edit{
        margin-left: 371px;
    }
}

@media only screen and (max-width: 1367px) {
    .box-load-edit{
        margin-left: 290px;
    }
}

@media only screen and (max-width: 1025px) {
    .box-load-edit{
        margin-left: 281px;
    }
}

@media only screen and (max-width: 769px) {
    .box-load-edit{
        margin-left: 185px;
    }
}

@media only screen and (max-width: 415px) {
    .box-load-edit{
        margin-left: 98px;
    }
}

@media only screen and (max-width: 376px) {
    .box-load-edit{
        margin-left: 82px;
    }
}

@media only screen and (max-width: 321px) {
    .box-load-edit{
        margin-left: 59px;
    }
}