.box-load-comment-mypost{
    position: static;
    margin-left: 260px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*Responsive*/
@media only screen and (min-width: 1920px) {
    .box-load-comment-mypost{
        margin-left: 315px;
    }
}

@media only screen and (max-width: 1367px) {
    .box-load-comment-mypost{
        margin-left: 240px;
    }    
}

@media only screen and (max-width: 1025px) {
    .box-load-comment-mypost{
        margin-left: 225px;
    }    
}

@media only screen and (max-width: 769px) {
    .box-load-comment-mypost{
        margin-left: 140px;
    }    
}

@media only screen and (max-width: 415px) {
    .box-load-comment-mypost{
        margin-left: 60px;
    }    
}

@media only screen and (max-width: 376px) {
    .box-load-comment-mypost{
        margin-left: 50px;
    }    
}

@media only screen and (max-width: 321px) {
    .box-load-comment-mypost{
        margin-left: 25px;
    }    
}