.mypost-comment-commentsall {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}

.mypost-comment-img1 img.img-circle1 {
  width: 50px;
  border-radius: 50%;
}

.mypost-comment-comments1 {
  display: grid;
  grid-template-columns: 7.6% 93%;
  padding: 10px 0;
}

.mypost-section-commment {
  background-color: rgb(245, 245, 245);
  margin: 0 0 0 10px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
}

.container-img-holder-imgpreview2 {
  width: 100%;
}

.uploadprove2 {
  width: 100%;
  cursor: pointer;
}

.inputcommentmypost2 {
  width: 100%;
  border: none;
  margin-top: 8px;
  font-size: 16px;
  background-color: rgb(245, 245, 245);
  padding: 0 10px;
}

.mypostbuttonsendss {
  margin: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  align-items: center;
  padding: 0;
  transition: box-shadow 0.4s ease;
}

.mypostbuttonsends1 {
  margin-left: auto;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  border: none;
  color: grey;
}

.mypostbuttonsends1:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.4s ease;
}

.profile-comment2 {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.imgcommentitemmypost2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px 0 -30px 0;
}

.imgpreviewb1 {
  position: relative;
  margin: 0;
  width: 130px;
  height: 130px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.uploadproveeditmypost {
  justify-items: center;
  align-items: center;
}

.uploadproveeditmypost1 {
  width: 130px;
  height: 130px;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: block;
}

.uploadproveedit1mypost:hover {
  background-color: rgb(201, 200, 200);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.uploadproveeditmypost2 {
  width: 100%;
  padding: 40px;
}

.postdeletemypost {
  display: flex;
  width: 100%;
}

.deleteimgmyposts1 {
  position: relative;
  right: 15px;
  top: -10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  font-size: 13px;
  font-family: sans-serif;
}

.deleteimgmyposts2 {
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.deleteimgmyposts2:hover {
  transition: box-shadow 0.4s ease;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.inputmypostcomment2 {
  width: 170%;
  background-color: rgb(245, 245, 245);
  border: none;
}

.mypostcommentimg-setting {
  width: 25px;
}

.column1 {
  width: 90%;
}

.column2 {
  width: 10%;
}

.h1-mypostfileerror {
  color: #ff392e;
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
}

/*Responsive*/
@media only screen and (min-width: 1920px) {
  .mypost-comment-comments1 {
    grid-template-columns: 5.7% 94%;
  }
  .inputcommentmypost2,
  .h1-mypostfileerror {
    font-size: 18px;
  }
  .imgpreviewb1,
  .uploadproveeditmypost1 {
    width: 177px;
    height: 177px;
  }
  .uploadproveeditmypost2 {
    padding: 60px;
  }
}

@media only screen and (max-width: 1367px) {
  .inputcommentmypost2,
  .h1-mypostfileerror {
    font-size: 16px;
  }
  .imgpreviewb1,
  .uploadproveeditmypost1 {
    width: 110px;
    height: 110px;
  }
  .uploadproveeditmypost2 {
    padding: 40px;
  }
  .imgcommentitemmypost2 {
    margin: 20px 0 -33px 0;
  }
}

@media only screen and (max-width: 1025px) {
  .inputcommentmypost2,
  .h1-mypostfileerror {
    font-size: 15px;
  }
  .imgpreviewb1,
  .uploadproveeditmypost1 {
    width: 133px;
    height: 133px;
  }
  .uploadproveeditmypost2 {
    padding: 45px;
  }
  .mypost-section-commment {
    padding: 10px 20px;
  }
  .imgcommentitemmypost2 {
    margin: 20px 0 -25px 0;
  }
}

@media only screen and (max-width: 769px) {
  .inputcommentmypost2,
  .h1-mypostfileerror {
    font-size: 13px;
  }
  .imgpreviewb1,
  .uploadproveeditmypost1 {
    width: 88px;
    height: 88px;
  }
  .uploadproveeditmypost2 {
    padding: 30px;
  }
  .mypost-section-commment {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 415px) {
  .mypost-comment-comments1 {
    padding: 0;
    grid-template-columns: 14% 86%;
  }
  .inputcommentmypost2,
  .h1-mypostfileerror {
    font-size: 13px;
  }
  .imgpreviewb1,
  .uploadproveeditmypost1 {
    width: 104px;
    height: 104px;
  }
  .uploadproveeditmypost2 {
    padding: 35px;
  }
  .imgcommentitemmypost2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px 0;
    margin: 10px 0 -20px 0;
  }
  .mypost-section-commment {
    padding: 10px 15px;
  }
  .mypost-comment-commentsall {
    grid-template-columns: 30px 1fr 30px;
  }
  .mypostbuttonsends1 {
    margin-top: 3px;
    width: 25px;
    height: 25px;
    font-size: 13px;
  }
  .profile-comment2{
    width: 45px;
    height: 45px;
  }
  .deleteimgmyposts1 {
    margin-top: 10px;
  }

}

@media only screen and (max-width: 376px) {
  .mypost-comment-comments1 {
    padding: 0;
    grid-template-columns: 21% 79% !important;
  }
  .profile-comment2{
    width: 45px;
    height: 45px;
  }
  .inputcommentmypost2,
  .h1-mypostfileerror {
    font-size: 13px;
  }
  .imgpreviewb1,
  .uploadproveeditmypost1 {
    width: 88px;
    height: 88px;
  }
  .uploadproveeditmypost2 {
    padding: 30px;
  }
  .imgcommentitemmypost2 {
    grid-template-columns: 1fr 1fr;
    margin: 10px 0 -20px 0;
  }
  .mypost-section-commment {
    padding: 10px 15px;
    margin-left: -5px;
  }
  .mypost-comment-commentsall {
    grid-template-columns: 30px 1fr 30px;
  }
  .mypostbuttonsends1 {
    margin-top: 3px;
    width: 25px;
    height: 25px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 321px) {
  .mypost-comment-comments1 {
    padding: 0;
    grid-template-columns: 22% 68% !important;
  }
  .profile-comment2{
    width: 40px;
    height: 40px;
  }
  .inputcommentmypost2,
  .h1-mypostfileerror {
    font-size: 12px;
  }
  .imgpreviewb1,
  .uploadproveeditmypost1 {
    width: 74px;
    height: 74px;
  }
  .uploadproveeditmypost2 {
    padding: 25px;
  }
  .mypost-section-commment {
    padding: 6px 10px;
  }
  .imgcommentitemmypost2 {
    grid-template-columns: 1fr 1fr;
    margin: 8px 0 -20px 0;
  }
  .mypost-comment-commentsall {
    grid-template-columns: 25px 1fr 30px !important;
    margin-left: -1px;
  }
  .mypostbuttonsends1 {
    width: 22px;
    height: 22px;
    font-size: 12px;
  }
}
