.postother2 {
  color: blue;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: none;
  background-color: white;
}

img.img-circle {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 0;
}

/* .post-comment-img1 img.img-circle1 {
  width: 50px;
  border-radius: 50%;
} */

.post-comment-comments1 {
  display: grid;
  grid-template-columns: 50px 1fr;
  font-size: 18px;
  padding: 10px 0;
}

.post-comment-commentsall {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}

.post-section-commment {
  background-color: rgb(245, 245, 245);
  margin: 0 10px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
}

.uploadprove1 {
  width: 100%;
  cursor: pointer;
}

.uploadproveedit {
  justify-items: center;
  align-items: center;
}

.uploadproveedit1 {
  /* width: 90%;
  height: auto; */
  width: 180px;
  height: 180px;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: block;
}

.uploadproveedit1:hover {
  background-color: rgb(201, 200, 200);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.uploadproveedit2 {
  width: 100%;
  padding: 60px;
}

.imgcommentitempost1 {
  display: grid;
  padding-left: 15px;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.imgpreviewa1 {
  position: relative;
  margin: 0;
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
}

.postdelete {
  display: flex;
  width: 100%;
}

.deleteimgposts1 {
  position: relative;
  right: 15px;
  top: -10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  font-size: 13px;
  font-family: sans-serif;
}

.deleteimgposts2 {
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.deleteimgposts2:hover {
  transition: box-shadow 0.4s ease;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.inputcomment1 {
  width: 100%;
  border: none;
  margin-top: 8px;
  font-size: 16px;
  background-color: rgb(245, 245, 245);
  padding: 0 10px;
}

.postbuttonsends1 {
  margin-left: auto;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  border: none;
  color: grey;
}

.postbuttonsends1:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.4s ease;
}

.postbuttonsendss {
  margin: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  align-items: center;
  padding: 0px 0px;
  transition: box-shadow 0.4s ease;
}

.postfileerror {
  text-align: center;
}

.h1-postfileerror {
  color: #ff392e;
  font-size: 20px;
  margin: 15px 0;
}


/*Responsive*/
@media only screen and (min-width: 1920px) {
  .imgpreviewa1,.uploadproveedit1 {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 1367px){
  .imgpreviewa1,.uploadproveedit1 {
    width: 150px;
    height: 150px;
  }
}