.postother2 {
  color: blue;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: none;
  background-color: white;
}

/* .row .post-comment-comments1 {
  width: 100%;
  margin-left: -50px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-left: 70px;
  padding-bottom: 15px;
  border-radius: 15px;
} */

img.img-circle {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 0;
}

.post-comment-img1 img.img-circle1 {
  width: 50px;
  border-radius: 50%;
}

/* .post-comment-name1 {
  margin-left: 60px;
  margin-top: -60px;
} */

.post-comment-name1 .post-comment-time1 {
  margin-left: 5px;
  margin-top: -55px;
  font-size: 14px;
  color: grey;
}

.post-comment-comments1 {
  display: grid;
  grid-template-columns: 50px 1fr;
  font-size: 18px;
  padding: 10px 0;
}

.post-comment-commentsall {
  display: grid;
  grid-template-columns: 30px 1fr 40px;
}

.post-section-commment {
  background-color: rgb(245, 245, 245);
  margin: 0 10px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
}

.container-img-holder-imgpreview1 {
  width: 100%;
}

.uploadprove1 {
  width: 100%;
}

.uploadproveedit {
  width: 100%;
}

.imgcommentitempost1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.imgcommentitem1 {
  width: 100%;
}

.imgpreviewa1 {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.deleteimgpost2 {
  width: 23px;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-top: -485px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.4s ease;
  background-color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.inputcomment1 {
  width: 100%;
  border: none;
  background-color: rgb(245, 245, 245);
  padding: 0 10px;
}

.column1 {
  width: 90%;
}

.column2 {
  width: 10%;
}

.postbuttonsends1 {
  margin-left: auto;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  border: none;
}

.postbuttonsends1:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.4s ease;
}

.postbuttonsendss {
  margin: 0;
  border: none;

  color: red;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  align-items: center;
  padding: 0px 0px;
  transition: box-shadow 0.4s ease;
}

.postfileerror {
  text-align: center;
}

.h1-postfileerror {
  color: #ff392e;
  font-size: 20px;
  margin: 15px 0;
}