.postcommentimg-setting {
  width: 25px;
}

.header-post-comment {
  display: grid;
  grid-template-columns: 50px 1fr 20px;
  align-items: center;
}

.menu-containerpostcommentsetting {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postcommentbuttonsetting {
  width: 30px;
  background: rgb(245, 245, 245);
  margin-left: -10px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 3px;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.postcommentbuttonsetting:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.postcommentmenusetting {
  background: #ffffff;
  border-radius: 7px;
  position: absolute;
  top: 40px;
  left: -110px;
  font-size: 15px;
  width: 130px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.postcommentmenusetting.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.postcommentmenusetting .ul-postcommentmenusetting {
  list-style: none;
  padding: 0;
  margin: 0;
}

.postcommentmenusetting .li-postcommentmenusetting {
  border-bottom: 1px solid #dddddd;
}

.postcommentmenusetting .li-postcommentmenusetting .a-postcommentmenusetting {
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  display: block;
}

.postcommentmenusetting
  .li-postcommentmenusetting
  .a-postcommentmenusetting
  .a-postcommentmenusetting1 {
  color: black;
}

.postcommentmenusetting
  .li-postcommentmenusetting
  .a-postcommentmenusetting
  .a-postcommentmenusetting1:hover {
  color: black;
}

.postcommentrows {
  background-color: rgb(245, 245, 245);
  width: 100%;
  padding: 20px;
  margin: 0 0 30px 0;
  border-radius: 15px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.postcomment1 {
  margin-top: -10px;
  margin-bottom: 10px;
}

.commentbox {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.listcommentpost2 {
  margin: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.imgcommentitempost {
  display: grid;
  padding: 20px;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.imglistcomment {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.imgpreviewpost1 {
  position: relative;
  margin: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

/* .imgpreviewpost2 {
  position: relative;
  margin: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
} */

.uploadproveedits {
  justify-items: center;
  align-items: center;
}

.uploadproveedits1 {
  width: 100%;
  height: 250px;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: block;
}

.uploadproveedits1:hover {
  background-color: rgb(201, 200, 200);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.uploadproveedits2 {
  width: 100%;
  padding: 60px;
}

.buttoncommentpostsave2 {
  width: 50%;
  height: 40px;
  font-size: 17px;
  background-color: #5c83cc;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
  text-align: center;
  color: white;
}

.buttoncommentpostsave2:hover {
  background-color: #3c6fce;
}

.post-comment-name1 {
  margin-left: 10px;
}

.postdelete {
  display: flex;
  width: 100%;
}

.deleteimgposts1 {
  position: relative;
  right: 10px;
  top: -10px;
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  font-size: 13px;
  font-family: sans-serif;
}

.deleteimgposts2 {
  width: 20px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.4s ease;
  background-color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.inputcomment2 {
  width: 100%;
  border: none;
  background-color: rgb(245, 245, 245);
  padding: 0 10px;
}
