.header-post-comment {
  display: grid;
  grid-template-columns: 10.6% 1fr 3%;
  align-items: center;
}

.postcommentimg-setting {
  width: 25px;
}

.menu-containerpostcommentsetting {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postcommentbuttonsetting {
  width: 30px;
  background: rgb(245, 245, 245);
  margin-left: -10px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 3px;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.postcommentbuttonsetting:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.postcommentmenusetting {
  background: #ffffff;
  border-radius: 7px;
  position: absolute;
  top: 40px;
  left: -110px;
  font-size: 15px;
  width: 130px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.postcommentmenusetting.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.postcommentmenusetting .ul-postcommentmenusetting {
  list-style: none;
  padding: 0;
  margin: 0;
}

.postcommentmenusetting .li-postcommentmenusetting {
  border-bottom: 1px solid #dddddd;
}

.postcommentmenusetting .li-postcommentmenusetting .a-postcommentmenusetting {
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  display: block;
}

.postcommentmenusetting
  .li-postcommentmenusetting
  .a-postcommentmenusetting
  .a-postcommentmenusetting1 {
  color: black;
}

.postcommentmenusetting
  .li-postcommentmenusetting
  .a-postcommentmenusetting
  .a-postcommentmenusetting1:hover {
  color: black;
}

.postcommentrows {
  background-color: rgb(245, 245, 245);
  width: 100%;
  padding: 20px;
  margin: 10px 0 30px 0;
  border-radius: 15px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.postcomment1 {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #5c5c5c;
}

.comment {
  margin-top: -20px;
}

.commentbox {
  display: grid;
  grid-template-columns: 10% 1fr 17%;
  margin: 5px 45px 20px 45px;
}

.listcommentpost2 {
  margin: 0;
  width: 113px;
  height: 113px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.imgcommentitempost {
  display: grid;
  grid-gap: 10px 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.imglistcomment {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.imgpreviewpost1 {
  position: relative;
  margin: 0;
  width: 105px;
  height: 105px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

/* .imgpreviewpost2 {
  position: relative;
  margin: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
} */

.inputlistcomment1 {
  width: 100%;
  border: none;
  margin-top: 8px;
  font-size: 16px;
  background-color: rgb(245, 245, 245);
  padding: 0 10px;
}

.uploadprovepost1 {
  width: 100%;
  cursor: pointer;
}

.uploadproveedits {
  justify-items: center;
  align-items: center;
}

.uploadproveedits1 {
  width: 105px;
  height: 105px;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: block;
}

.uploadproveedits1:hover {
  background-color: rgb(201, 200, 200);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.uploadproveedits2 {
  width: 100%;
  padding: 30px;
}

.buttoncommentpostsave1 {
  padding: 0 0 0 10px;
}

.buttoncommentpostsave2 {
  width: 100%;
  height: 30px;
  font-size: 16px !important;
  background-color: #5c83cc;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.buttoncommentpostsave2:hover {
  background-color: #3c6fce;
}

.profile-listcomment1 {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.post-comment-name1 {
  margin-left: 10px;
  font-size: 18px;
}

.post-comment-time1 {
  margin-left: 5px;
  margin-top: -55px;
  font-size: 14px;
  color: grey;
}

.postdelete {
  display: flex;
  width: 100%;
}

.deleteimgposts1 {
  position: relative;
  right: 15px;
  top: -10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  font-size: 13px;
  font-family: sans-serif;
}

.deleteimgposts2 {
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.deleteimgposts2:hover {
  transition: box-shadow 0.4s ease;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

/*Responsive*/
@media only screen and (min-width: 1920px) {
  .listcommentpost2 {
    width: 124px;
    height: 124px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 117px;
    height: 117px;
  }
  .uploadproveedits2 {
    padding: 40px;
  }
  .post-comment-name1 {
    font-size: 20px;
  }
  .post-comment-time1 {
    font-size: 16px;
  }
  .inputlistcomment1,
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 18px !important;
  }
  .commentbox {
    grid-template-columns: 10% 1fr 16%;
  }
}

@media only screen and (max-width: 1367px) {
  .listcommentpost2 {
    width: 95px;
    height: 95px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 89px;
    height: 89px;
  }
  .uploadproveedits2 {
    padding: 30px;
  }
  .post-comment-name1 {
    font-size: 18px;
  }
  .post-comment-time1 {
    font-size: 14px;
  }
  .inputlistcomment1,
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 16px !important;
  }
  .commentbox {
    grid-template-columns: 12% 1fr 20%;
  }
}

@media only screen and (max-width: 1025px) {
  .imglistcomment {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
  }
  .imgcommentitempost {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 0;
    margin-bottom: -7px !important;
  }
  .listcommentpost2 {
    width: 115px;
    height: 115px;
    padding: 5px;
  }
  .imgpreviewpost1 {
    margin: 0;
    width: 102px;
    height: 102px;
  }
  .uploadproveedits1 {
    width: 102px;
    height: 102px;
  }
  .uploadproveedits2 {
    padding: 35px;
  }
  .postcommentrows {
    padding: 20px;
  }
  .post-comment-name1 {
    font-size: 17px;
  }
  .post-comment-time1 {
    font-size: 13px;
  }
  .inputlistcomment1,
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 15px !important;
  }
  .header-post-comment {
    grid-template-columns: 15% 1fr 8%;
  }
  .commentbox {
    grid-template-columns: 10% 1fr 10%;
  }
  .postcommentmenusetting {
    font-size: 13px;
    width: 120px;
    left: -100px;
  }
  .deleteimgposts2 {
    width: 20px;
    margin-left: 7px;
  }
  .container-posts3 {
    padding: 30px;
  }
}

@media only screen and (max-width: 769px) {
  .imglistcomment {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 !important;
  }
  .imgcommentitempost {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 0;
    margin-bottom: -7px !important;
  }
  .listcommentpost2 {
    width: 114px;
    height: 112px;
    padding: 5px !important;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 104px;
    height: 104px;
  }
  .uploadproveedits2 {
    padding: 35px;
  }
  .post-comment-name1 {
    font-size: 15px !important;
  }
  .post-comment-time1 {
    font-size: 11px !important;
  }
  .inputlistcomment1,
  .postcomment1 {
    font-size: 13px !important;
  }
  .buttoncommentpostsave2 {
    font-size: 13px !important;
    width: 100%;
    height: 25px;
  }
  .commentbox {
    grid-template-columns: 12% 1fr 30%;
    margin: 5px 0 0 0;
  }
}

@media only screen and (max-width: 415px) {
  .imglistcomment {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
  .imgcommentitempost {
    padding: 0px;
  }
  .listcommentpost2 {
    width: 115px;
    height: 115px;
    padding: 5px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 50px;
    height: 50px;
  }
  .uploadproveedits2 {
    padding: 35px;
  }
  .postcommentrows {
    padding: 10px 15px !important;
  }
  .post-comment-name1 {
    font-size: 15px !important;
  }
  .post-comment-time1 {
    font-size: 11px !important;
  }
  .inputlistcomment1,
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 376px) {
  .imglistcomment {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
  .imgcommentitempost {
    padding: 0px;
  }
  .listcommentpost2 {
    width: 99px;
    height: 99px;
    padding: 5px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 40px;
    height: 40px;
  }
  .uploadproveedits2 {
    padding: 35px;
  }
  .post-comment-name1 {
    font-size: 14px !important;
  }
  .post-comment-time1 {
    font-size: 10px !important;
  }
  .inputlistcomment1,
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 321px) {
  .imglistcomment {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
  .imgcommentitempost {
    padding: 0px;
  }
  .listcommentpost2 {
    width: 75px;
    height: 75px;
    padding: 5px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 40px;
    height: 40px;
  }
  .uploadproveedits2 {
    padding: 35px;
  }
  .post-comment-name1 {
    font-size: 15px;
  }
  .post-comment-time1 {
    font-size: 11px;
  }
  .inputlistcomment1,
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 13px !important;
  }
}
