.header-post-comment {
  display: grid;
  grid-template-columns: 10.6% 1fr 4%;
  align-items: center;
}

.postcommentimg-setting {
  width: 30px;
}

.menu-containerpostcommentsetting {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postcommentbuttonsetting {
  width: 30px;
  background: rgb(245, 245, 245);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.postcommentbuttonsetting:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.postcommentmenusetting {
  background: #ffffff;
  border-radius: 7px;
  position: absolute;
  top: 40px;
  left: -105px;
  font-size: 14px;
  width: 125px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.postcommentmenusetting.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.postcommentmenusetting .ul-postcommentmenusetting {
  list-style: none;
  padding: 0;
  margin: 0;
}

.postcommentmenusetting .li-postcommentmenusetting {
  border-bottom: 1px solid #dddddd;
}

.postcommentmenusetting .li-postcommentmenusetting .a-postcommentmenusetting {
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  display: block;
}

.postcommentmenusetting
  .li-postcommentmenusetting
  .a-postcommentmenusetting
  .a-postcommentmenusetting1 {
  color: black;
}

.postcommentmenusetting
  .li-postcommentmenusetting
  .a-postcommentmenusetting
  .a-postcommentmenusetting1:hover {
  color: black;
  cursor: pointer;
}

.postcommentrows {
  background-color: rgb(245, 245, 245);
  width: 100%;
  padding: 20px;
  margin: 10px 0 30px 0;
  border-radius: 15px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.postcomment1 {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #5c5c5c;
}

.comment {
  margin-top: -20px;
}

.commentbox {
  display: grid;
  grid-template-columns: 10% 1fr 16%;
  margin: 5px 45px 20px 45px;
}

.listcommentpost2 {
  margin: 0;
  padding: 5px;
  width: 121px;
  height: 121px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.imgcommentitempost {
  display: grid;
  grid-gap: 10px 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: -7px;
}

.imglistcomment {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.imgpreviewpost1 {
  position: relative;
  margin: 0;
  width: 106px;
  height: 106px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.inputlistcomment1 {
  width: 100%;
  border: none;
  margin: 5px 0 0 0;
  font-size: 16px;
  background-color: rgb(245, 245, 245);
  padding: 0 10px;
}

.uploadprovepost1 {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.uploadproveedits {
  justify-items: center;
  align-items: center;
}

.uploadproveedits1 {
  width: 105px;
  height: 105px;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: block;
}

.uploadproveedits1:hover {
  background-color: rgb(201, 200, 200);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.uploadproveedits2 {
  width: 100%;
  padding: 30px;
}

.buttoncommentpostsave1 {
  padding: 0 0 0 10px;
}

.buttoncommentpostsave2 {
  width: 100%;
  height: 30px;
  font-size: 16px !important;
  background-color: #5c83cc;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.buttoncommentpostsave2:hover {
  background-color: #3c6fce;
  cursor: pointer;
}

.profile-listcomment1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.post-comment-name1 {
  margin-left: 10px;
  font-size: 18px;
}

.post-comment-time1 {
  margin: -55px 0 0 5px;
  font-size: 14px;
  color: grey;
}

.postdelete {
  display: flex;
  width: 100%;
}

.deleteimgposts1 {
  position: relative;
  right: 15px;
  top: -10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  font-size: 13px;
  font-family: sans-serif;
}

.deleteimgposts2 {
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.deleteimgposts2:hover {
  transition: box-shadow 0.4s ease;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.none-postlistcomment2 {
  display: none;
}

/*Responsive*/
@media only screen and (min-width: 1920px) {
  .header-post-comment {
    grid-template-columns: 10% 1fr 4%;
  }
  .listcommentpost2 {
    width: 132px;
    height: 132px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 117px;
    height: 117px;
  }
  .uploadproveedits2 {
    padding: 40px;
  }
  .post-comment-name1 {
    font-size: 20px;
  }
  .post-comment-time1 {
    font-size: 16px;
  }
  .inputlistcomment1,
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 18px !important;
  }
  .commentbox {
    grid-template-columns: 10% 1fr 16%;
  }
  .postcommentmenusetting {
    font-size: 16px !important;
    width: 140px !important;
    left: -115px !important;
  }
}

@media only screen and (max-width: 1367px) {
  .header-post-comment {
    grid-template-columns: 12% 1fr 4%;
  }
  .listcommentpost2 {
    width: 104px;
    height: 104px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 88.5px;
    height: 88.5px;
  }
  .uploadproveedits2 {
    padding: 30px;
  }
  .post-comment-name1 {
    font-size: 18px;
  }
  .post-comment-time1 {
    font-size: 14px;
  }
  .inputlistcomment1,
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 16px !important;
  }
  .commentbox {
    grid-template-columns: 12% 1fr 19%;
  }
  .postcommentmenusetting {
    font-size: 14px !important;
    width: 125px !important;
    left: -105px !important;
  }
}

@media only screen and (max-width: 1025px) {
  .header-post-comment {
    grid-template-columns: 13% 1fr 5%;
  }
  .imglistcomment {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .imgcommentitempost {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 0;
    margin-bottom: -7px !important;
  }
  .listcommentpost2 {
    width: 99px;
    height: 99px;
  }
  .imgpreviewpost1 {
    margin: 0;
    width: 83.5px;
    height: 83.5px;
  }
  .uploadproveedits1 {
    width: 83.5px;
    height: 83.5px;
  }
  .uploadproveedits2 {
    padding: 35px;
  }
  .postcommentrows {
    padding: 15px;
  }
  .post-comment-name1 {
    font-size: 17px;
  }
  .post-comment-time1 {
    font-size: 13px;
  }
  .inputlistcomment1 {
    font-size: 15px !important;
    margin: 8px 0 0 0 !important;
  }
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 15px !important;
  }
  .commentbox {
    grid-template-columns: 11% 1fr 18%;
    margin: 5px 0 20px 0;
  }
  .deleteimgposts2 {
    width: 20px;
    margin-left: 7px;
  }
  .container-posts3 {
    padding: 30px;
  }
  .postcommentimg-setting {
    width: 25px;
  }
  .postcommentmenusetting {
    font-size: 13px !important;
    width: 120px !important;
    left: -100px !important;
  }
}

@media only screen and (max-width: 769px) {
  .header-post-comment {
    grid-template-columns: 18% 1fr 8%;
  }
  .imglistcomment {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .uploadprovepost1 {
    width: 35px;
    height: 35px;
  }
  .imgcommentitempost {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 0;
    margin-bottom: -7px !important;
  }
  .listcommentpost2 {
    width: 70px;
    height: 70px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 129px;
    height: 129px;
  }
  .uploadproveedits2 {
    padding: 35px;
  }
  .postcommentrows {
    padding: 15px;
  }
  .none-postlistcomment2 {
    display: block;
  }
  .post-comment-name1 {
    font-size: 15px !important;
  }
  .post-comment-time1 {
    margin: 0;
    font-size: 11px !important;
  }
  .inputlistcomment1 {
    font-size: 13px !important;
    margin: 6px 0 0 0 !important;
  }
  .postcomment1 {
    font-size: 13px !important;
  }
  .buttoncommentpostsave2 {
    font-size: 13px !important;
    width: 100%;
    height: 25px;
  }
  .commentbox {
    grid-template-columns: 14% 1fr 24%;
    margin: 5px 0 20px 0;
  }
  .deleteimgposts2 {
    width: 20px;
    margin-left: 7px;
  }
  .postcommentimg-setting {
    width: 25px;
  }
  .postcommentmenusetting {
    font-size: 11px !important;
    width: 110px !important;
    left: -90px !important;
  }
  .menu-containerpostcommentsetting {
    margin: -15px 0 0 0 !important;
  }
}

@media only screen and (max-width: 415px) {
  .header-post-comment {
    grid-template-columns: 16% 1fr 6%;
  }
  .imglistcomment {
    grid-template-columns: 1fr 1fr;
  }
  .profile-listcomment1 {
    width: 45px !important;
    height: 45px !important;
  }
  .uploadprovepost1 {
    width: 30px;
    height: 30px;
  }
  .imgcommentitempost {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 0;
    margin-bottom: -6px !important;
  }
  .listcommentpost2 {
    width: 146px;
    height: 146px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 135px;
    height: 135px;
  }
  .uploadproveedits2 {
    padding: 40px;
  }
  .none-postlistcomment2 {
    display: block;
  }
  .postcommentrows {
    padding: 10px !important;
  }
  .post-comment-name1 {
    font-size: 15px !important;
  }
  .post-comment-time1 {
    margin: 0 !important;
    font-size: 11px !important;
  }
  .inputlistcomment1 {
    margin: 7px 0 0 0;
    font-size: 13px !important;
  }
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 13px !important;
  }
  .commentbox {
    grid-template-columns: 12% 1fr 20%;
    margin: 5px 0 20px 0;
  }
  .deleteimgposts2 {
    width: 20px !important;
    margin-left: 7px;
  }
  .postcommentimg-setting {
    width: 25px;
  }
  .postcommentmenusetting {
    font-size: 11px !important;
    width: 110px !important;
    left: -93px !important;
  }
}

@media only screen and (max-width: 376px) {
  .header-post-comment {
    grid-template-columns: 18% 1fr 7%;
  }
  .imglistcomment {
    grid-template-columns: 1fr 1fr;
  }
  .profile-listcomment1 {
    width: 45px !important;
    height: 45px !important;
  }
  .uploadprovepost1 {
    width: 30px;
    height: 30px;
  }
  .imgcommentitempost {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 0;
    margin-bottom: -7px !important;
  }
  .listcommentpost2 {
    width: 124px;
    height: 124px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 114px;
    height: 114px;
  }
  .uploadproveedits2 {
    padding: 40px;
  }
  .post-comment-name1 {
    font-size: 14px !important;
  }
  .post-comment-time1 {
    margin: 0;
    font-size: 11px !important;
  }
  .none-postlistcomment2 {
    display: block;
  }
  .postcommentrows {
    padding: 15px !important;
  }
  .inputlistcomment1 {
    margin: 6px 0 0 0;
    font-size: 13px !important;
  }
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 13px !important;
  }
  .commentbox {
    grid-template-columns: 13% 1fr 22%;
    margin: 5px 0 20px 0;
  }
  .deleteimgposts2 {
    width: 20px !important;
    margin-left: 7px;
  }
  .postcommentimg-setting {
    width: 25px;
  }
  .postcommentmenusetting {
    font-size: 11px !important;
    width: 110px !important;
    left: -93px !important;
  }
}

@media only screen and (max-width: 321px) {
  .header-post-comment {
    grid-template-columns: 19% 1fr 8%;
  }
  .imglistcomment {
    grid-template-columns: 1fr 1fr;
  }
  .profile-listcomment1 {
    width: 40px !important;
    height: 40px !important;
  }
  .uploadprovepost1 {
    width: 30px;
    height: 30px;
  }
  .imgcommentitempost {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 0;
    margin-bottom: -7px !important;
  }
  .listcommentpost2 {
    width: 106px;
    height: 106px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 96px;
    height: 96px;
  }
  .uploadproveedits2 {
    padding: 35px;
  }
  .post-comment-name1 {
    margin-left: 5px;
    font-size: 15px !important;
  }
  .post-comment-time1 {
    margin: 0;
    font-size: 10px !important;
  }
  .none-postlistcomment2 {
    display: block;
  }
  .postcommentrows {
    padding: 10px !important;
  }
  .inputlistcomment1 {
    margin: 5px 0 0 0;
    font-size: 12px !important;
  }
  .buttoncommentpostsave2,
  .postcomment1 {
    font-size: 12px !important;
  }
  .commentbox {
    grid-template-columns: 14% 1fr 26%;
    margin: 5px 0 10px 0 !;
  }
  .deleteimgposts2 {
    width: 20px !important;
    margin-left: 5px;
  }
  .postcommentimg-setting {
    width: 20px;
  }
  .postcommentmenusetting {
    font-size: 10px !important;
    width: 105px !important;
    left: -90px !important;
  }
}
