.header-post-comment {
  display: grid;
  grid-template-columns: 50px 1fr 20px;
  align-items: center;
}

.postcommentimg-setting {
  width: 25px;
}

.menu-containerpostcommentsetting {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postcommentbuttonsetting {
  width: 30px;
  background: rgb(245, 245, 245);
  margin-left: -10px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 3px;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.postcommentbuttonsetting:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.postcommentmenusetting {
  background: #ffffff;
  border-radius: 7px;
  position: absolute;
  top: 40px;
  left: -110px;
  font-size: 15px;
  width: 130px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.postcommentmenusetting.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.postcommentmenusetting .ul-postcommentmenusetting {
  list-style: none;
  padding: 0;
  margin: 0;
}

.postcommentmenusetting .li-postcommentmenusetting {
  border-bottom: 1px solid #dddddd;
}

.postcommentmenusetting .li-postcommentmenusetting .a-postcommentmenusetting {
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  display: block;
}

.postcommentmenusetting
  .li-postcommentmenusetting
  .a-postcommentmenusetting
  .a-postcommentmenusetting1 {
  color: black;
}

.postcommentmenusetting
  .li-postcommentmenusetting
  .a-postcommentmenusetting
  .a-postcommentmenusetting1:hover {
  color: black;
}

.postcommentrows {
  background-color: rgb(245, 245, 245);
  width: 100%;
  padding: 20px;
  margin: 10px 0 30px 0;
  border-radius: 15px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.postcomment1 {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #5c5c5c;
}

.commentbox {
  display: grid;
  grid-template-columns: 40px 60% 40px;
}

.listcommentpost2 {
  margin: 0;
  width: 160px;
  height: 160px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.imgcommentitempost {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.imglistcomment {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.imgpreviewpost1 {
  position: relative;
  margin: 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

/* .imgpreviewpost2 {
  position: relative;
  margin: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
} */

.inputcomment1 {
  width: 100%;
  border: none;
  margin-top: 8px;
  font-size: 16px;
  background-color: rgb(245, 245, 245);
  padding: 0 10px;
}

.uploadprovepost1 {
  width: 100%;
  cursor: pointer;
}

.uploadproveedits {
  justify-items: center;
  align-items: center;
}

.uploadproveedits1 {
  width: 150px;
  height: 150px;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: block;
}

.uploadproveedits1:hover {
  background-color: rgb(201, 200, 200);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.uploadproveedits2 {
  width: 100%;
  padding: 50px;
}

.buttoncommentpostsave2 {
  width: 160%;
  height: 40px;
  margin-left: 10px;
  font-size: 16px !important;
  background-color: #5c83cc;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.buttoncommentpostsave2:hover {
  background-color: #3c6fce;
}

.post-comment-name1 {
  margin-left: 10px;
  font-size: 18px;
}

.post-comment-time1 {
  margin-left: 5px;
  margin-top: -55px;
  font-size: 14px;
  color: grey;
}

.postdelete {
  display: flex;
  width: 100%;
}

.deleteimgposts1 {
  position: relative;
  right: 15px;
  top: -10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  font-size: 13px;
  font-family: sans-serif;
}

.deleteimgposts2 {
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.deleteimgposts2:hover {
  transition: box-shadow 0.4s ease;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

/*Responsive*/
@media only screen and (min-width: 1920px) {
  .listcommentpost2 {
    width: 175px;
    height: 175px;
  }

  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 155px;
    height: 155px;
  }
}

@media only screen and (max-width: 1367px) {
  .listcommentpost2 {
    width: 135px;
    height: 135px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 125px;
    height: 125px;
  }
  .uploadproveedits2 {
    padding: 40px;
  }
}

@media only screen and (max-width: 1025px) {
  .listcommentpost2 {
    width: 125px;
    height: 125px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 115px;
    height: 115px;
  }
  .uploadproveedits2 {
    padding: 35px;
  }
}

@media only screen and (max-width: 769px) {
  .imgcommentitempost {
    padding: 0px;
  }

  .listcommentpost2 {
    width: 95px;
    height: 95px;
  }
  .imgpreviewpost1,
  .uploadproveedits1 {
    width: 90px;
    height: 90px;
  }
  .uploadproveedits2 {
    padding: 35px;
  }
}
