.header-mypost-comment {
  display: grid;
  grid-template-columns: 50px 1fr 20px;
  align-items: center;
}

.mypostcommentimg-setting {
  width: 25px;
}

.menu-containermypostcommentsetting {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypostcommentbuttonsetting {
  width: 30px;
  background: rgb(245, 245, 245);
  margin-left: -10px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 3px;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.mypostcommentbuttonsetting:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.mypostcommentmenusetting {
  background: #ffffff;
  border-radius: 7px;
  position: absolute;
  top: 40px;
  left: -110px;
  font-size: 15px;
  width: 130px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.mypostcommentmenusetting.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.mypostcommentmenusetting .ul-mypostcommentmenusetting {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mypostcommentmenusetting .li-mypostcommentmenusetting {
  border-bottom: 1px solid #dddddd;
}

.mypostcommentmenusetting
  .li-mypostcommentmenusetting
  .a-mypostcommentmenusetting {
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  display: block;
}

.mypostcommentmenusetting
  .li-mypostcommentmenusetting
  .a-mypostcommentmenusetting
  .a-mypostcommentmenusetting1 {
  color: black;
}

.mypostcommentmenusetting
  .li-mypostcommentmenusetting
  .a-mypostcommentmenusetting
  .a-mypostcommentmenusetting1:hover {
  color: black;
}

/* .line-posts1 {
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
  margin-top: 10px;
} */

.mypostcommentrow {
  background-color: rgb(245, 245, 245);
  width: 100%;
  padding: 20px;
  margin: 10px 0 30px 0;
  border-radius: 15px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.mypostcomment1 {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #5c5c5c;
}

.commentboxmypost {
  display: grid;
  grid-template-columns: 40px 72% 40px;
}

.imgcommentitemmypost {
  display: grid;
  margin: 20px 0 0 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.imgpreview1 {
  width: 140px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.imglistcommentmypost {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.listcommentmypost2 {
  margin: 0 0 3px 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.imgpreviewmypost1 {
  position: relative;
  margin: 0 0 20px 0;
  width: 145px;
  height: 145px;
  object-fit: cover;
  object-position: center;
}

.inputcommentmypost2 {
  width: 100%;
  border: none;
  margin-top: 8px;
  font-size: 16px;
  background-color: blue;
  padding: 0 10px;
}

.uploadprovemypost1 {
  width: 100%;
  cursor: pointer;
}

.uploadproveeditmyposts {
  justify-items: center;
  align-items: center;
}

.uploadproveeditmyposts1 {
  width: 145px;
  height: 145px;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: block;
  cursor: pointer;
}

.uploadproveeditmyposts1:hover {
  background-color: rgb(201, 200, 200);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.uploadproveeditmyposts2 {
  width: 100%;
  padding: 40px;
}

.commenttextarea {
  margin-top: -10px;
  margin-left: 75px;
}

.buttoncommentmypostsave2 {
  width: 160%;
  height: 40px;
  margin-top: 8px;
  margin-left: 30px;
  font-size: 16px !important;
  background-color: #5c83cc;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
  text-align: center;
  color: white;
}

.buttoncommentmypostsave2:hover {
  background-color: #3c6fce;
}

.mypost-comment-name1 {
  margin-left: 10px;
  font-size: 18px;
}

.mypost-comment-time1 {
  margin-left: 5px;
  margin-top: -55px;
  font-size: 14px;
  color: grey;
}

.postdeletemypost {
  display: flex;
  width: 100%;
}

.commenttextareamypost {
  margin-left: 55px;
}

.deleteimgmyposts1 {
  position: relative;
  right: 15px;
  top: -10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  font-size: 13px;
  font-family: sans-serif;
}

.deleteimgmyposts2 {
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.deleteimgmyposts2:hover {
  transition: box-shadow 0.4s ease;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.none-listcomment2 {
  display: none;
}
/*Responsive*/
@media only screen and (min-width: 1920px) {
  .imgpreviewmypost1,
  .uploadproveeditmyposts1 {
    width: 192px;
    height: 192px;
  }
  .uploadproveeditmyposts2 {
    width: 100%;
    padding: 60px;
  }
  .listcommentmypost2 {
    width: 195px;
    height: 195px;
  }
  .mypost-comment-name1 {
    font-size: 20px;
  }
  .inputcommentmypost2,
  .buttoncommentmypostsave2,
  .mypostcomment1 {
    font-size: 18px;
  }
  .commentboxmypost {
    grid-template-columns: 40px 78% 40px;
  }
}

@media only screen and (max-width: 1367px) {
  .imgpreviewmypost1,
  .uploadproveeditmyposts1 {
    width: 124px;
    height: 124px;
  }
  .uploadproveeditmyposts2 {
    width: 100%;
    padding: 40px;
  }
  .listcommentmypost2 {
    width: 130px;
    height: 130px;
  }
  .mypost-comment-name1 {
    font-size: 18px;
  }
  .inputcommentmypost2,
  .buttoncommentmypostsave2,
  .mypostcomment1 {
    font-size: 16px;
  }
  .commentboxmypost {
    grid-template-columns: 40px 68% 40px;
  }
}

@media only screen and (max-width: 1025px) {
  .imgpreviewmypost1,
  .uploadproveeditmyposts1 {
    width: 147px;
    height: 147px;
  }
  .uploadproveeditmyposts2 {
    width: 100%;
    padding: 45px;
  }
  .listcommentmypost2 {
    width: 153px;
    height: 153px;
  }
  .mypost-comment-name1 {
    font-size: 17px;
  }
  .mypostcommentrow {
    padding: 10px 20px 10px 20px;
  }
  .inputcommentmypost2,
  .buttoncommentmypostsave2,
  .mypostcomment1 {
    font-size: 15px;
  }
  .commentboxmypost {
    grid-template-columns: 40px 73% 40px;
  }
  .imglistcommentmypost {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 769px) {
  .mypost-comment-name1 {
    font-size: 15px;
  }
  .imgcommentitemmypost {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .imgpreviewmypost1,
  .uploadproveeditmyposts1 {
    width: 138px;
    height: 138px;
  }
  .uploadproveeditmyposts2 {
    width: 100%;
    padding: 40px;
  }
  .listcommentmypost2 {
    width: 105px;
    height: 105px;
  }
  .mypostcommentrow {
    padding: 5px 20px 5px 20px;
  }
  .inputcommentmypost2,
  .buttoncommentmypostsave2,
  .mypostcomment1 {
    font-size: 13px;
  }
  .commentboxmypost {
    grid-template-columns: 40px 61% 40px;
  }
}

@media only screen and (max-width: 415px) {
  .mypost-comment-name1 {
    font-size: 17px;
    margin-top: 5px;
    margin-left: 0px;
    width: 180px;
  }
  .none-listcomment2 {
    display: block;
  }
  .mypost-comment-time1 {
    font-size: 12px;
  }
  .profile-liscomment2 {
    width: 45px !important;
    height: 45px !important;
  }
  .imgcommentitemmypost {
    grid-template-columns: 1fr 1fr;
  }
  .imglistcommentmypost {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
  }
  .imgpreviewmypost1,
  .uploadproveeditmyposts1 {
    width: 106px;
    height: 106px;
  }
  .uploadproveeditmyposts2 {
    width: 100%;
    padding: 35px;
  }
  .listcommentmypost2 {
    width: 110px;
    height: 110px;
  }
  .inputcommentmypost2 {
    font-size: 15px !important;
  }
  .mypostcomment1 {
    font-size: 15px;
  }
  .commentboxmypost {
    grid-template-columns: 40px 85% 144px;
  }
  .inputcommentmypost2 {
    margin-left: -5px !important;
  }
  .buttoncommentmypostsave2 {
    margin: 85px 0 0 -236px !important;
    font-size: 15px !important;
    height: 30px;
  }
  .uploadprovemypost1 {
    width: 80%;
    cursor: pointer;
  }
  .deleteimgmyposts2 {
    width: 20px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 376px) {
  .mypost-comment-name1 {
    font-size: 15px;
    width: 160px;
  }
  .mypost-comment-time1 {
    font-size: 10px;
  }
  .deleteimgmyposts2 {
    width: 20px;
  }
  .imglistcommentmypost {
    margin-left: -6px;
  }
  .imgcommentitemmypost {
    margin: 20px 0 0 0;
  }
  .imgpreviewmypost1,
  .uploadproveeditmyposts1 {
    width: 90px;
    height: 90px;
  }
  .uploadproveeditmyposts2 {
    width: 100%;
    padding: 30px;
  }
  .listcommentmypost2 {
    width: 100px;
    height: 100px;
  }
  .inputcommentmypost2 {
    font-size: 13px !important;
  }
  .buttoncommentmypostsave2 {
    font-size: 13px !important;
    margin: 75px 0 0 -208.5px !important;
    height: 30px;
  }
  .mypostcomment1 {
    font-size: 13px;
    margin-left: -5px;
  }
  .commentboxmypost {
    grid-template-columns: 40px 85% 127px;
  }
  .uploadprovemypost1 {
    width: 80%;
    cursor: pointer;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 321px) {
  .mypost-comment-name1 {
    font-size: 14px;
    margin-left: -15px;
    width: 125px;
  }
  .mypost-comment-time1 {
    font-size: 10px;
  }
  .profile-liscomment2 {
    width: 40px !important;
    height: 40px !important;
    margin-left: -10px !important;
  }
  .deleteimgmyposts2 {
    width: 20px;
    margin-left: 5px;
  }
  .imgcommentitemmypost {
    margin: 20px 0 0 -5px;
  }
  .imglistcommentmypost {
    margin-left: -10px;
  }
  .imgpreviewmypost1,
  .uploadproveeditmyposts1 {
    width: 70px;
    height: 70px;
  }
  .uploadproveeditmyposts2 {
    width: 100%;
    padding: 25px;
  }
  .listcommentmypost2 {
    width: 80px;
    height: 80px;
  }
  .mypostcommentrow {
    padding: 0px 20px 5px 20px;
  }
  .inputcommentmypost2,
  .buttoncommentmypostsave2 {
    font-size: 12px;
  }
  .mypostcomment1 {
    font-size: 12px;
    margin-left: -10px;
  }
}
