.imgmodal {
  z-index: 1;
  object-fit: cover;
  object-position: center;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.box-modal {
  width: 75%;
  max-width: 800px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.img-badreport {
  margin: 5px 10px 15px 10px;
  width: 140px;
  height: 140px;
  position: relative;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

/*Responsive*/
@media only screen and (min-width: 1920px) {
  .box-modal {
    width: 75%;
  }
}

@media only screen and (max-width: 1367px) {
  .box-modal {
    width: 60%;
    max-width: 700px;
    max-height: 450px;
  }
}

@media only screen and (max-width: 1025px) {
  .box-modal {
    width: 55%;
    max-width: 700px;
    max-height: 750px;
  }
  .imgmodal {
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 769px) {
  .box-modal {
    width: 85%;
    max-width: 400px;
    max-height: 650px;
  }
  .img-badreport {
    width: 115px;
    height: 115px;
  }
}

@media only screen and (max-width: 415px) {
  .box-modal {
    width: 90%;
    max-width: 290px;
    max-height: 525px;
  }
  .img-badreport {
    width: 135px;
    height: 135px;
  }
  .form-row {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 376px) {
  .box-modal {
    width: 90%;
    max-width: 250px;
    max-height: 450px;
  }
  .img-badreport {
    width: 120px;
    height: 115px;
  }
  .form-row {
    margin: 0 -5px 0 0 !important;
  }
}

@media only screen and (max-width: 321px) {
  .box-modal {
    width: 90%;
    max-width: 200px;
    max-height: 350px;
  }
  .img-badreport {
    width: 95px;
    height: 95px;
  }
}
