.imgmodal{
    z-index: 1;
    object-fit: cover;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
}

.box-modal{
    width: 900px;
    height: 450px;
}

.namereport {
    font-size: 18px !important;
}

.img-badreport {
    margin: 5px 10px 15px 10px;
    width: 150px;
    height: 150px;
    position: relative;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

/*Responsive*/
@media only screen and (min-width: 1920px) {
    .box-modal{
        width: 900px;
        height: 475px;
    }
  }
  
  @media only screen and (max-width: 1367px) {
    .box-modal{
        width: 900px;
        height: 450px;
    }
  }