.imgmodal{
    z-index: 1;
    object-fit: cover;
    object-position: center;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.box-modal{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.namereport {
    font-size: 18px !important;
}

.img-badreport {
    margin: 5px 10px 15px 10px;
    width: 150px;
    height: 150px;
    position: relative;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

/*Responsive*/
@media only screen and (min-width: 1920px) {
    .box-modal{
        width: 85%;
    }
}
  
@media only screen and (max-width: 1367px) {
    .box-modal{
        width: 75%;
    }
}

@media only screen and (max-width: 1025px){
    .box-modal{
        width: 90%;
    }
}
  
@media only screen and (max-width: 769px){
    .box-modal{
        width: 70%;
    }
}
  
@media only screen and (max-width: 415px){
    .box-modal{
        width: 90%;
    }
}
  
@media only screen and (max-width: 376px){
  
}
  
@media only screen and (max-width: 321px){
  
}