.navbarnew{
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
}

.logo-nav{
    margin-top: -10px;
    width: 120px;
}

.nav-item , .nav-link{
    color: #5c5c5c !important; 
}

.box-nav{
    background-color: rgb(255, 255, 255);
    border: none;
    width: 190px;
    height: 35px;
    border-radius: 0.4rem;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    color: #5c5c5c;
    margin-top: 5px;
}

.button-nav{
    background-color: #5c83cc;
    border-radius: 0.5rem;
    color: white;
    width: 65px;
    height: 35px;
    border: 0px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 5px;
}
.button-nav:hover{
    background-color: #3c6fce;
}

.dropdown-menu-right{
    position: fixed !important;
    margin-left: -160px !important;
    margin-top: 10px !important;
}

.dropdown-item{
    color: #5c5c5c !important; 
}
.dropdown-item:hover{
    background-color: rgb(236, 234, 234) !important;
}

.search-nav{
    background-color: aqua;
}

/*reponsive*/
@media only screen and (max-width: 1367px) {
    .navbarnew {
        font-size: 17px;
    }
    .logo-nav{
        width: 100px;
    }
    .box-nav{
        width: 200px;
        height: 35px;
        font-size: 14px;
    }
    .button-nav{
        width: 55px;
        height: 35px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 767px) {
    .navbarnew {
        font-size: 12px;
    }
    .logo-nav{
        width: 80px;
    }
    .box-nav{
        width: 165px;
        height: 30px;
        font-size: 11px;
        margin-top: 2px;
    }
    .button-nav{
        width: 55px;
        height: 30px;
        font-size: 11px;
        margin-top: 2px;
    }

    .dropdown-menu-right{
        margin-top: 2px !important;
    }

    .dropdown-item{
        font-size: 11px !important;
    }
  }
  
  @media only screen and (max-width: 416px) {
    .navbarnew {
        font-size: 17px;
    }
    .logo-nav{
        width: 100px;
    }
    .box-nav{
        width: 250px;
        height: 35px;
        font-size: 14px;
        display: inline;
        margin-left: 35px;
        box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    }
    .button-nav{
        width: 55px;
        height: 35px;
        font-size: 14px;
        display: inline;
        margin-top: -35px;
        margin-left: 293px;
    }
    .dropdown-item{
        font-size: 14px !important;
    }
    .nav-link{
        text-align: center;
    }
    .dropdown-top1{
        margin-left: 113px !important;
    }
    .dropdown-top2{
        margin-left: 100px !important;
    }
    .dropdown-bottom{
        margin-left: -120px !important;
        margin-top: 0px !important;
    }
  }

  @media only screen and (max-width: 376px) {
    .navbarnew {
        font-size: 15px;
    }
    .box-nav{
        width: 210px;
        margin-left: 37px;
    }
    .button-nav{
        margin-left: 253px;
    }
    .dropdown-item{
        font-size: 12px !important;
    }
    .dropdown-top1{
        margin-left: 93px !important;
    }
    .dropdown-top2{
        margin-left: 94px !important;
    }
    .dropdown-bottom{
        margin-left: -250px !important;
    }
  }


  .gg{
      margin-left: 1570px;
  }
