.container-linkrule1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
}
.container-linkrule2 {
    background-color: white;
    border-radius: 10px;
    margin: 40px auto;
    padding: 30px 60px 60px 60px;
    font-family: 'Kanit', sans-serif;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
}

.h3-linkrule {
    font-size: 17px;
    color: #5c5c5c;
    font-family: "Kanit", sans-serif;
}

.p-linkrule {
    margin-top:  20px;
    color: gray;
    font-size: 16px;
    font-family: "Kanit", sans-serif;
}

.linkrule1 {
    margin-top: 10px;
    font-size: 17px;
    color: #ff392e;
}

.buttonrule {
    width: 100%;
    font-size: 16px !important;
    background-color: #5c83cc;
    border: none;
    border-radius: 0.5rem;
    font-size: 20px;
    text-align: center;
    color: white !important;
    padding: 0.5rem;
    margin-top: 10px;
    border: 2px solid #5c83cc;
}

.buttonrule1 {
    width: 100%;
    font-size: 16px !important;
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 20px;
    text-align: center;
    color:  #3c6fce !important;
    padding: 0.5rem;
    margin-top: 10px;
    border: 2px solid #3c6fce;
}

/*Responsive*/ 
@media only screen and (min-width: 1920px) {
    .p-linkrule {
        font-size: 18px;
    }
    .h3-linkrule,.form-check-label,.buttonrule1,.buttonrule {
        font-size: 19px  !important;
    }
}

@media only screen and (max-width: 1367px) {
    .p-linkrule {
        font-size: 16px;
    }
    .h3-linkrule,.form-check-label,.buttonrule1,.buttonrule {
        font-size: 17px !important;
    }
}

@media only screen and (max-width: 1025px) {
    .container-linkrule1{
        width: 75%;
    }
    .p-linkrule {
        font-size: 15px;
    }
    .h3-linkrule,.form-check-label,.buttonrule1,.buttonrule {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 769px) {
    .p-linkrule {
        font-size: 13px;
    }
    .h3-linkrule,.form-check-label,.buttonrule1,.buttonrule {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 415px) {
    .container-linkrule1 {
        width: 85%;  
    }
    .container-linkrule2{
        padding: 5px 30px 15px 30px;
    }
    .p-linkrule,.form-check-label {
        font-size: 15px;
    }
    .h3-linkrule,.buttonrule1,.buttonrule {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 376px) {
    .p-linkrule {
        font-size: 13px;
    }
    .h3-linkrule,.buttonrule1,.buttonrule,.form-check-label {
        font-size: 14px !important;
    }
    .container-linkrule2{
        padding: 5px 20px 15px 20px;
    }
}

@media only screen and (max-width: 321px) {
    .p-linkrule {
        font-size: 13px;
    }
    .h3-linkrule,.buttonrule1 {
        font-size: 14px !important;
    }
    .container-linkrule2{
        padding: 5px 13px 15px 13px;
    }
    .form-check-label{
        font-size: 12px !important;
    }

}