.container-changepass {
    margin: 25px auto;
    padding: 15px 20px;
    font-family: 'Kanit', sans-serif;
    background-color: white;
    width: 450px;
    height: auto;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    border-radius: 20px;
}

.Logo-changepass  {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;
}

.changePassForm {
    width: 100%;
    height: auto;
    max-width: 376px;
    padding: 10px;
    margin: 0 auto;
}

.changePassForm .h1{
    color:  #5c5c5c;
    font-size: 25px
}

.form-group {
    color: #6C757D;
    font-size: 16px;
}

.SaveChange {
    background-color: #5c83cc;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 16px;
}

.SaveChange:hover {
    background-color: #3c6fce;
    border: none;
}


.SaveChange p {
    color: white;
    font-size: 16px;
    display: inline-block;
}

.EditProfile div, .SaveChange div {  
    display: inline-block;
    margin: 0 -10px 0 0;
}

.alert-changepass-fail {
    margin-top: 1rem;
    color: #be2020;
    border: 1px solid #be2020;
    background-color: #f8a9a977;
    padding: .3rem;
    border-radius: .4rem;
    margin-bottom: 1rem;
}

.alert-changepass-success {
    margin-top: 1rem;
    color: #098656;
    border: 1px solid #0c9963;
    background-color: #DEF0D8;
    padding: .3rem;
    border-radius: .4rem;
    margin-bottom: 1rem;
}

.alert-changepass-fail span,  .alert-changepass-success span{
    font-size: 16px;
}



/* =================================================================

/*Responsive*/ 
@media only screen and (max-width: 1921px) {
    .container-changepass {
        margin: 8% auto 0 auto;
    }
    .ChangePassForm img {
        width: 130px;
        height: 130px;
    }
    .text2-forget{
        font-size: 16px;
    }
    .ChangePassForm .h1 {
        color:  #5c5c5c;
        font-size: 22px
    }
    .SaveChange p, .form-group {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1920px) {
    .container-changepass {
        margin: 10% auto 0 auto;
    }
    .ChangePassForm .h1 {
        color:  #5c5c5c;
        font-size: 25px
    }
    .SaveChange p, .form-group {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1367px) {
    .container-changepass {
        margin: 5% auto 0 auto;
    }
    .ChangePassForm .h1 {
        color:  #5c5c5c;
        font-size: 22px
    }
    .SaveChange p, .form-group {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1024px) {
    .container-changepass {
        margin-top: 220px;
    }
}

@media only screen and (max-width: 768px) {
    .container-changepass {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 450px) {
    .container-changepass {
        width: 100%;
        box-shadow: 0px 0px 0px rgba(0,0,0,.2);
        border-radius: 0px;
    }
}

@media only screen and (max-width: 414px) {
    .container-changepass {
        width: 100%;
        box-shadow: 0px 0px 0px rgba(0,0,0,.2);
        border-radius: 0px;
    }
}

@media only screen and (max-width: 375px) {
    .container-changepass {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 320px) {
    .text1-forget{
        font-size: 30px !important;
    }
    .text2-forget{
        font-size: 13px;
    }
    .container-changepass {
        padding-left: 20px;
        padding-right: 20px;
    }
    .Logo-forget{
        width: 125px;
        height: 125px;
    }
}

