.container-editprofile {
    margin: 25px auto;
    padding: 10px 15px;
    font-family: 'Kanit', sans-serif;
    background-color: white;
    width: 430px;
    height: auto;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    border-radius: 20px;
}

.EditProfileForm {
    width: 100%;
    height: auto;
    max-width: 376px;
    padding: 10px;
    margin: 0 auto;
}


.EditProfileForm .h1{
    margin-top: 1rem;
    color:  #5c5c5c;
    font-size: 25px
}

.editprofile-badformpost-img {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 1rem;
} 

.editprofile-badformpost-img img.img-circle-profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center; 
    border-radius: 50%;
}

.form-group-editptofile {
    color: #6C757D;
    display: flex;
    justify-content: space-between;
}

.label-form-title-editprofile, .form-inside-editprofile {
    font-size: 16px;
    display: inline-block;
    color: inherit;
}

.province-select, .gender{
    cursor: pointer;
    color:  #5c5c5c;
}

.Date {
    color: inherit;
}

.SaveEdit {
    background-color: #5c83cc;
    border: 1px solid #5c83cc;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.SaveEdit:hover {
    background-color: #3c6fce;
    border: none;
    cursor: pointer;
}

.SaveEdit p {
    color: white;
    font-size: 16px;
    display: inline-block;
}

.SaveEdit div {  
    display: inline-block;
    margin: 0 -10px 0 0;
}

.fileinput {
    cursor: pointer;
}


/* =================================================================

/*Responsive*/ 

/* notebook */
@media only screen and (max-width: 1921px) {
    .container-editprofile {
        margin: 3% auto 0 auto;
    }
    .editprofile-badformpost-img img.img-circle-profile {
        width: 140px;
        height: 140px;
    }
    .EditProfileForm .h1 {
        font-size: 22px
    }
    .label-form-title-editprofile, .form-inside-editprofile p, .SaveEdit div+p, .profile-data .gender, .province-select {
        font-size: 16px;
    }
    .label-form-title-editprofile{
        width: 45%;
        float: left;
        text-align: right;
    }
    .form-inside-editprofile {
        width: 55%;
        padding-left: 7%;
    }
}

/* computer */
@media only screen and (min-width: 1920px) {
    .container-editprofile {
        margin: 7% auto 0 auto;
    }
    .EditProfileForm .h1 {
        font-size: 25px
    }
    .editprofile-badformpost-img img.img-circle-profile {
        width: 150px;
        height: 150px;
    }
    .label-form-title-editprofile, .form-inside-editprofile p, .SaveEdit div+p, .profile-data .gender, .province-select {
        font-size: 18px;
    }
    .label-form-title-editprofile{
        width: 40%;
        float: left;
        text-align: right;
    }
    .form-inside-editprofile {
        width: 60%;
        padding-left: 7%;
    }
}

/* Huak */ 
@media only screen and (max-width: 1367px) {
    .container-editprofile {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .editprofile-badformpost-img img.img-circle-profile {
        width: 140px;
        height: 140px;
    }
    .EditProfileForm .h1 {
        font-size: 22px
    }
    .label-form-title-editprofile, .form-inside-editprofile p, .SaveEdit div+p, .profile-data .gender, .province-select {
        font-size: 16px;
    }
    .label-form-title-editprofile{
        width: 45%;
        float: left;
        text-align: right;
    }
    .form-inside-editprofile {
        width: 55%;
        padding-left: 7%;
    }
    .container-editprofilebottom{
        padding-bottom: 40px;
    }
}

/* iPad pro */
@media only screen and (max-width: 1025px) {
    .container-editprofile {
        margin: 31% auto 0 auto;
        width: 410px;
    }
    .editprofile-badformpost-img img.img-circle-profile {
        width: 140px;
        height: 140px;
    }
    .EditProfileForm .h1 {
        font-size: 25px
    }
    .label-form-title-editprofile, .form-inside-editprofile p, .SaveEdit div+p, .profile-data .gender, .province-select {
        font-size: 18px;
    }
    .label-form-title-editprofile{
        width: 45%;
        float: left;
        text-align: right;
    }
    .form-inside-editprofile {
        width: 55%;
        padding-left: 7%;
    }
}

/* iPad */
@media (max-width: 769px){
    .container-editprofile {
        margin: 25% auto 0 auto;
        width: 400px;
    }
    .editprofile-badformpost-img img.img-circle-profile {
        width: 120px;
        height: 120px;
    }
    .EditProfileForm .h1 {
        font-size: 19px
    }
    .label-form-title-editprofile, .form-inside-editprofile p, .SaveEdit div+p, .profile-data .gender, .province-select {
        font-size: 13px;
    }
    .label-form-title-editprofile{
        width: 45%;
        float: left;
        text-align: right;
        margin-top: 3.5px;
    }
    .form-inside-editprofile {
        width: 55%;
        padding-left: 7%;
    }
}

/* iPhone 6/7/8 + */
@media only screen and (max-width: 415px) {
    .container-editprofile {
        margin: 12% auto 20% auto;
        width: 85%;
    }
    .editprofile-badformpost-img img.img-circle-profile {
        width: 110px;
        height: 110px;
    }
    .EditProfileForm .h1 {
        font-size: 20px
    }
    .label-form-title-editprofile, .form-inside-editprofile p, .SaveEdit div+p, .profile-data .gender, .province-select {
        font-size: 15px;
    }
    .label-form-title-editprofile{
        width: 40%;
        float: left;
        text-align: right;
    }
    .form-inside-editprofile {
        width: 60%;
        padding-left: 7%;
    }
}

/* iPhone 6/7/8 */
@media only screen and (max-width: 376px) {
    .container-editprofile {
        margin: 10% auto 20% auto;
        padding: 5px 5px;
    }
    .editprofile-badformpost-img img.img-circle-profile {
        width: 90px;
        height: 90px;
    }
    .EditProfileForm .h1 {
        font-size: 20px
    }
    .label-form-title-editprofile, .form-inside-editprofile p, .SaveEdit div+p, .profile-data .gender, .province-select {
        font-size: 13px;
    }
}

/* iPhone 5 */
@media only screen and (max-width: 320px) {
    .container-editprofile {
        margin: 10% auto 25% auto;
        padding: 5px 0px;
    }

    .container-editprofilebottom{
        padding-bottom: 10px;
    }
}

