.h1-editpost { 
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
    font-family: 'Kanit', sans-serif;
    color: #5c5c5c;
}
/*Responsive*/ 
@media only screen and (min-width: 1920px){
    .h1-editpost{
        font-size: 25px;
    }
}

@media only screen and (max-width: 1367px){
    .h1-editpost{
        font-size: 22px;
    }
}

@media only screen and (max-width: 1025px){

}

@media only screen and (max-width: 769px) {

}
@media only screen and (max-width: 415px) {

}
@media only screen and (max-width: 376px) {
    .h1-editpost{
        font-size: 20px;
    }
}

@media only screen and (max-width: 321px) {

}