.container-forget {
    margin: 25px auto;
    padding: 20px;
    font-family: 'Kanit', sans-serif;
    background-color: white;
    width: 450px;
    height: auto;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    border-radius: 20px;
}

.Logo-forget  {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;
}

.ForgetPassForm {
    width: 100%;
    height: auto;
    max-width: 376px;
    padding: 10px;
    margin: 0 auto;
}

.ForgetPassForm .h1 {
    color:  #5c5c5c;
    font-size: 25px
}

.text2-forget {
    color: #5c5c5c;
    font-size: 16px;
}

.ForgetPassInputForm {
    font-size: 16px;
    color: #5c5c5c;
}

.ForgetPassButton {
    background-color: #f87c7c;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 16px;
}

.ForgetPassButton:hover {
    background-color: #f76d6d;
    border: none;
}

.alert-forgetpass {
    margin-top: 1rem;
    color: #098656;
    border: 1px solid #0c9963;
    background-color: #DEF0D8;
    padding: .3rem;
    border-radius: .4rem;
    margin-bottom: 1rem;
}

.alert-forgetpass  span {
    font-size: 16px;
}


/*----------------------------------------------------------------

/*Responsive*/ 
@media only screen and (max-width: 1921px) {
    .container-forget {
        margin: 6% auto 0 auto;
    }
    .ForgetPassForm img {
        width: 130px;
        height: 130px;
    }
    .text2-forget{
        font-size: 16px;
    }
    .ForgetPassForm .h1 {
        font-size: 22px
    }
}

@media only screen and (min-width: 1920px) {
    .container-forget {
        margin: 9% auto 0 auto;
    }
    .ForgetPassForm .h1 {
        font-size: 25px
    }
}

@media only screen and (max-width: 1367px) {
    .ForgetPassForm .h1 {
        font-size: 22px
    }
}

@media only screen and (max-width: 1024px) {
    .container-forget {
        margin-top: 220px;
    }
}

@media only screen and (max-width: 768px) {
    .container-forget {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 450px) {
    .container-forget {
        width: 100%;
        box-shadow: 0px 0px 0px rgba(0,0,0,.2);
        border-radius: 0px;
    }
}

@media only screen and (max-width: 414px) {
    .container-forget {
        width: 100%;
        box-shadow: 0px 0px 0px rgba(0,0,0,.2);
        border-radius: 0px;
    }
}

@media only screen and (max-width: 375px) {
    .container-forget {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 320px) {
    .text1-forget{
        font-size: 30px !important;
    }
    .text2-forget{
        font-size: 13px;
    }
    .container-forget {
        padding-left: 20px;
        padding-right: 20px;
    }
    .Logo-forget{
        width: 125px;
        height: 125px;
    }
}