.h1-index { 
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    color: #5c5c5c;
    margin-top: 80px;
}

.container1-index{
    width: 60%;
    height: 300px;
    background-color: white;
    /* background-color: tomato; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Kanit', sans-serif;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    border-radius: 10px;
    padding-top: 25px;
}
.row-section1{
    display: grid;
    grid-template-columns: 49% 2% 49%;
}
.column1-index{
    height: 110px;
    align-self: center;
}
.column2-index{
    align-items: center;
    margin-right: 15px;
}

.line-index {
    border-left: 3px solid rgba(146, 146, 146, 0.479);
    height: 250px;
}

.text1-index{
    font-size: 19px;
    text-align: center;
    color: #5c5c5c;
}

.box1-index{
    background-color: rgb(233, 233, 233);
    border: none;
    width: 71%;
    height: 45px;
    border-radius: 0.5rem;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0px;
    font-size: 16px;
    color: #5c5c5c;
}

.containermini1-index{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.button1-index{
    background-color: #5c83cc;
    border-radius: 0.5rem;
    color: white;
    margin-top: 20px;
    width: 80px;
    height: 45px;
    border: 0px;
    font-size: 16px;
}
.button1-index:hover{
    background-color: #3c6fce;
}

.textlink-index{
    text-align: center;
    display: block;
}

.image1-index{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: block;
}



.container2-index{
    width: 60%;
    height: 380px;
    /* background-color: teal; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.column3-index{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 0px 30px rgba(0,0,0,.2);
}
.coin1{
    background-color: #fc7248;
    width: 100%;
    height: 180px;
    margin-top: -20px;
    color: white;
}
.coin2{
    background-color: #f8994a;
    width: 100%;
    height: 180px;
    margin-top: -20px;
}
.coin3{
    background-color: #fdc52b;
    width: 100%;
    height: 180px;
    margin-top: -20px;
}

.rank-index1{
    font-size: 70px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: white;
    padding-top: 35px;
}

.text2-index{
    font-family: 'Kanit', sans-serif;
}

.text3-index{
    text-align: center;
    color: #5c83cc;
    font-family: 'Kanit', sans-serif;
    font-size: 17px ;
}
.text4-index{
    text-align: left;
    width: 220px;
    margin-left: 10px;
    font-size: 14px ;
    font-family: 'Kanit', sans-serif;
    color: #5c5c5c;
    margin-bottom: 20px;
}

.container3-index {
    width: 60%;
    height: 2840px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-size: 16px ;
    font-family: 'Kanit', sans-serif;
}

.readmore {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
}

/*Facebook*/ 
.headfacebook-index{
    background-color: #3b5999;
    width: 30%;
    text-align: center;
    border-radius:20px 20px 0px 0px;
    color: white;
    font-size: 22px;
    padding-top: 2px;
}

.facebookbox-index{
    background-color: white;
    border: 5px solid  #3b5999;
    width: 100%;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    padding-left: 24px;
    padding-right: 12px;
    margin-bottom: 60px;
}

.column4-index{
    width: 24.7%;
    padding: 20px 10px 20px 10px;
}

.image3-index{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.text5-index{
    font-size: 17px;
    text-align: center;
    display: block;
    margin-bottom: -10px;
    margin-top: -5px;
}

.text7-index{
    text-align: left;
    font-size: 12px ;
    font-family: 'Kanit', sans-serif;
    color: #5c5c5c;
    margin-bottom: 15px;
    margin-top: 0px;
    margin-left: 0px;
  
}
.Fall-crisp{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cardbody-index{
    width: 165px;
    margin-left: -2px;
}
.time-index{
    background-color: #3b5999;
    color: white;
    font-size: 14px;
    text-align: center;
    height: 30px;
    padding-top: 4px;
    border-radius: 0px 0px 2px 0px;
    margin-top: -20px;
}

.readmoresize-index{
    margin-bottom: 10px;
    font-size: 16px;
}

.readmore1-index{
    color:  #3b5999;
}
.readmore1-index:hover{
    color:  #2b406d;
}

/*instargram*/
.headinstargram-index{
    /* background: linear-gradient(45deg, #3983f3 5%,#6e68f3 25%,#9e4fd3 45%,#d84498 55%,#ec3d77 65%,#fa9654 95%); */
    background-color: #ec3d77;
    width: 30%;
    text-align: center;
    border-radius:20px 20px 0px 0px;
    color: white;
    font-size: 22px;
    padding-top: 2px;
}
.instargrambox-index{
    background-color: white;
    border: 5px solid #ec3d77;
    width: 100%;
    font-size: 25px;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    margin-bottom: 60px;
    padding-left: 24px;
    padding-right: 12px;
}

.time2-index{
    background: #ec3d77;
    color: white;
    font-size: 14px;
    text-align: center;
    height: 30px;
    padding-top: 4px;
    border-radius: 0px 0px 2px 0px;
    margin-top: -20px;
}

.readmore2-index{
    color:  #ec3d77;
}
.readmore2-index:hover{
    color:  #ac2c57;
}


/*Line*/
.headline-index{
    background: #099b09;
    width: 30%;
    text-align: center;
    border-radius:20px 20px 0px 0px;
    color: white;
    font-size: 22px;
    padding-top: 2px;
}
.linebox-index{
    background-color: white;
    border: 5px solid#099b09;
    width: 100%;
    font-size: 25px;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    padding-left: 24px;
    padding-right: 12px;
    margin-bottom: 60px;
}

.time3-index{
    background:#099b09;
    color: white;
    font-size: 14px;
    text-align: center;
    height: 30px;
    padding-top: 4px;
    border-radius: 0px 0px 2px 0px;
    margin-top: -20px;
}

.readmore3-index{
    color:#099b09;
}
.readmore3-index:hover{
    color:#077407;
}

/*Twitter*/
.headtwitter-index{
    background: #00acee;
    width: 30%;
    text-align: center;
    border-radius:20px 20px 0px 0px;
    color: white;
    font-size: 22px;
    padding-top: 2px;
}
.twitterbox-index{
    background-color: white;
    border: 5px solid #00acee;
    width: 100%;
    font-size: 25px;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    padding-left: 24px;
    padding-right: 12px;
    margin-bottom: 60px;
}

.time4-index{
    background:#00acee;
    color: white;
    font-size: 14px;
    text-align: center;
    height: 30px;
    padding-top: 4px;
    border-radius: 0px 0px 2px 0px;
    margin-top: -20px;
}

.readmore4-index{
    color:#00acee;
}
.readmore4-index:hover{
    color:#0373a0;
}

/*Other*/
.headother-index{
    background: #727171;
    width: 30%;
    text-align: center;
    border-radius:20px 20px 0px 0px;
    color: white;
    font-size: 22px;
    padding-top: 2px;
}
.otherbox-index{
    background-color: white;
    border: 5px solid #727171;
    width: 100%;
    font-size: 25px;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    padding-left: 24px;
    padding-right: 12px;
    margin-bottom: 60px;
}

.time5-index{
    background:#727171;
    color: white;
    font-size: 14px;
    text-align: center;
    height: 30px;
    padding-top: 4px;
    border-radius: 0px 0px 2px 0px;
    margin-top: -20px;
}

.readmore5-index{
    color:#727171;
}
.readmore5-index:hover{
    color:#414040;
}

.seemore{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: 20px;
}

/*Responsive*/ 
@media only screen and (max-width: 1367px) {
    .container1-index{
        width: 65%;
        height: 300px;
        margin-top: 80px;
        margin-bottom: 0px;
    }
    .text1-index{
        font-size: 18px;
    }
    .containermini1-index{
        width: 90%;
    }
    .column2-index{
        align-self: center;
    }
    .box1-index{
        width: 72%;
        padding-left: 19px;
        font-size: 14.5px;
    }
    .button1-index{
        font-size: 15px;
        width: 25%;
    }
    .image1-index{
        width: 250px;
    }
    .textlink-index{
        font-size: 15px;
    }

    .h1-index { 
        font-size: 22px;
        margin-top: 70px;
    }
    .rank-index1{
        font-size: 60px;
    }
    .text3-index{
        font-size: 15px;
    }
    .text4-index{
        width: 175px;
        font-size: 12px;
        margin-left: 3px;
    }
    .coin1 , .coin2 , .coin3{
        height: 165px;
    }
    .readmore {
        font-size: 14px;
        margin-top: -5px;
    }
    .container2-index{
        margin-bottom: 60px;
        width: 65%;
    }
    .container3-index {
        width: 65%;
        height: 2420px;
    }

    /*social media*/ 
    .headfacebook-index , .headinstargram-index , .headline-index , .headother-index , .headtwitter-index{
        font-size: 17px;
    }
    .column4-index{
        width: 24.6%;
        padding: 20px 5px 20px 5px;
    }
    .image3-index{
        height: 150px;
    }
    .text5-index{
        font-size: 13px;
        margin-top: 0px;
    }
    .text7-index{
        font-size: 10px ;
        margin-bottom: 5px;
    }
    .cardbody-index{
        width: 140px;
        margin-left: -10px;
    }
    .time-index , .time2-index , .time3-index , .time4-index , .time5-index{
        font-size: 12px;
        padding-top: 7px;
    }
    .readmoresize-index{
        font-size: 13px;
        margin-right: -10px;
        margin-top: 3px;
    }
    .seemore{
        font-size: 17px;
    }

}

@media only screen and (max-width: 1025px) {
    .container1-index , .container2-index , .container3-index{
        width: 75%;
    }
    .rank-index1{
        font-size: 60px;
    }

    /*social media*/ 
    .headfacebook-index , .headinstargram-index , .headline-index , .headother-index , .headtwitter-index{
        font-size: 18px;
    }
    .cardbody-index{
        margin-left: -12px;
    }
    .time-index , .time2-index , .time3-index , .time4-index , .time5-index{
        font-size: 11px;
    }
}

@media only screen and (max-width: 768px) {
    .container1-index , .container2-index , .container3-index{
        width: 70%;
    }
    .container1-index{
        height: 220px;
    }
    .text1-index{
        font-size: 14px;
    }
    .containermini1-index{
        width: 90%;
    }
    .box1-index{
        width: 71%;
        padding-left: 15px;
        font-size: 11px;
        height: 35px;
    }
    .button1-index{
        font-size: 12px;
        width: 25%;
        height: 35px;
    }
    .image1-index{
        width: 190px;
    }
    .textlink-index{
        font-size: 12px;
    }
    .column1-index{
        margin-top: 25px;
    }
    .line-index{
        height: 170px;
    }
    .h1-index{
        font-size: 17px;
    }
    .column3-index{
        width: 31%;
    }
    .container2-index{
        height: 290px;
    }
    .rank-index1{
        padding-top: 15px;
    }
    .text3-index{
        font-size: 12px;
    }
    .text4-index{
        font-size: 11px;
        margin-left: -1px;
        width: 140px;
    }
    .coin1 , .coin2 , .coin3{
        height: 120px;
    }
    .readmore {
        font-size: 11px;
        margin-top: -5px;
    }
    .container3-index{
        height: 2000px;
    }
    /*social media*/ 
    .column4-index{
        width: 24.7%;
        padding: 20px 3px 20px 3px; 
    }
    .headfacebook-index , .headinstargram-index , .headline-index , .headother-index , .headtwitter-index{
        font-size: 13px;
    }
    .cardbody-index{
        margin-left: -15px;
        width: 110px;
        margin-top: -10px;
        margin-left: -13px;
    }
    .image3-index{
        height: 100px;
    }
    .text5-index{
        font-size: 10px;
        margin-top: 0px;
    }
    .text7-index{
        font-size: 10px ;
        margin-bottom: 5px;
        margin-left: 0px;
    }
    .readmoresize-index{
        font-size: 10px;
    }
    .time-index , .time2-index , .time3-index , .time4-index , .time5-index{
        font-size: 10px;
    }
    .seemore{
        font-size: 14px;
        margin-top: -10px;
    }
}

@media only screen and (max-width: 415px) {
    .image1-index{
        width: 150px;
    }
    .container1-index {
        width: 90%;
        height: 200px;
        margin-top: 50px;
    }
    .container2-index{
        width: 85%;
    }
    .container3-index{
        width: 90%;
        height: 3650px;
        margin-top: 300px;
        margin-bottom: 60px;
    }
    .column1-index{
        margin-top: 10px;
    }
    .text1-index{
        font-size: 12px;
    }
    .containermini1-index{
        width: 100%;
        margin-top: -10px;
    }
    .box1-index{
        width: 100%;
        padding-left: 20px;
        padding-right: 0px;
        font-size: 10px;
        height: 30px;
        margin-right: 4px;
    }
    .button1-index{
        font-size: 10px;
        width: 100%;
        height: 30px;
        padding-left: 4px;
        margin-top: 5px;
    }
    .textlink-index{
        font-size: 10px;
    }

    .line-index{
        height: 150px;
    }


    .h1-index{
        font-size: 17px;
        margin-top: 50px;
    }
    .column3-index{
        width: 45%;
        margin-bottom: 50px;
    }
    .rank-index1{
        padding-top: 10px;
        font-size: 50px;
    }
    .text4-index{
        font-size: 10px;
        margin-left: 0px;
        width: 150px;
    }
    .coin1 , .coin2 , .coin3{
        height: 100px;
    }
    .readmore {
        font-size: 11px;
    }

    /*social media*/ 
    .column4-index{
        width: 48.3%;
        padding: 20px 7px 20px 7px; 
        margin-bottom: -25px;
    }
    .headfacebook-index , .headinstargram-index , .headline-index , .headother-index , .headtwitter-index{
        font-size: 13px;
        width: 50%;
    }
    .cardbody-index{
        margin-left: -15px;
        width: 140px;
        margin-top: -10px;
        margin-left: -10px;
    }
    .image3-index{
        height: 130px;
    }
    .text5-index{
        font-size: 11px;
    }
    .text7-index{
        font-size: 10px ;
        margin-left: 0px;
        margin-bottom: 5px;
        margin-top: -10px;
    }
    .readmoresize-index{
        font-size: 10px;
    }
    .time-index , .time2-index , .time3-index , .time4-index , .time5-index{
        font-size: 10px;
    }
    .seemore{
        font-size: 13px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 376px) {
    .image1-index{
        width: 140px;
    }
    .container1-index {
        height: 160px;
    }
    .container3-index{
        height: 3600px;
        margin-top: 275px;
    }
    .column1-index{
        margin-top: 17px;
    }
    .text1-index{
        font-size: 10px;
    }
    .box1-index{
        width: 100%;
        padding-left: 11px;
        margin-top: 10px;
    }
    .button1-index{
        width: 100%;
        margin-top: 5px;
    }
    .line-index{
        height: 130px;
    }
    .row-section1{
        margin-top: -10px;
    }
    .h1-index{
        font-size: 15px;
        margin-top: 40px;
    }
    .rank-index1{
        padding-top: 20px;
        font-size: 40px;
    }
    .text3-index{
        font-size: 11px;
        width: 130px;
        margin-left: -6px;
    }
    .text4-index{
        font-size: 10px;
        margin-left: -6px;
        margin-top: -5px;
        width: 130px;
    }
    .readmore {
        font-size: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
    }
    .fa-chevron-right:before{
        margin-left: -5px;
    }


    /*social media*/ 
    .headfacebook-index , .headinstargram-index , .headline-index , .headother-index , .headtwitter-index{
        font-size: 13px;
    }
    .facebookbox-index{
        margin-bottom: 40px;
    }
    .cardbody-index{
        width: 130px;
        margin-left: -14px;
    }
    .text5-index{
        font-size: 11px;
    }
    .time-index , .time2-index , .time3-index , .time4-index , .time5-index{
        font-size: 10px;
        padding-top: 5px;
        height: 25px;
    }
}

@media only screen and (max-width: 321px) {
    .image1-index{
        width: 120px;
    }
    .container1-index {
        height: 160px;
        padding: 25px 4px 25px 0px;
    }
    .container3-index{
        height: 3600px;
        margin-top: 265px;
    }
    .containermini1-index{
        width: 120px;
    }
    .col {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .column1-index{
        margin-top: 17px;
    }
    .column2-index{
        width: 100%;
    }
    .text1-index{
        font-size: 10px;
    }
    .box1-index{
        width: 100%;
        padding-left: 5px;
    }
    .row-section1{
        margin-top: -10px;
    }
    .text3-index{
        width: 120px;
        margin-left: -13px;
        margin-top: -10px;
    }
    .text4-index{
        margin-left: -16px;
        width: 127px; 
    }
    .readmore {
        margin-bottom: -10px;
    }

    /*social media*/ 
    .headfacebook-index , .headinstargram-index , .headline-index , .headother-index , .headtwitter-index{
        font-size: 13px;
        width: 55%;
    }
    .facebookbox-index{
        margin-bottom: 40px;
    }
    .cardbody-index{
        width: 108px;
        margin-left: -15px;
    }
    .text5-index{
        font-size: 11px;
    }
}
