.container-login {
    margin: 25px auto;
    padding: 10px 15px;
    font-family: 'Kanit', sans-serif;
    background-color: white;
    width: 430px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    border-radius: 20px;
}

.Logo-login  {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;
}

.LoginForm {
    width: 100%;
    height: auto;
    max-width: 376px;
    padding: 10px;
    margin: 0 auto;
}

.LoginForm .h1{
    color:  #5c5c5c;
    font-size: 25px;
    margin-top: -.5rem;
}

.alert-login {
    color: #be2020;
    border: 1px solid #be2020;
    background-color: #f8a9a977;
    padding: .3rem;
    border-radius: .4rem;
    margin: 1rem auto;
    display: block;
    text-align: center;
    width: auto;
}

.alert-login span{
    font-size: 16px;
}

.LoginInputForm {
    font-size: inherit;
    color: inherit;
}

.message-login{
    /* display:flex; */
    /* justify-content:space-between; */
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 32px;
}

.ForgotPassword-login a {
    color: #5c5c5c;
    font-size: 14px;
    cursor: pointer;
    float: right;
    margin-bottom: 20px;
}

.LoginButton-login {
    background-color: #6083ce;
    border: none;
    border-radius: 1.5rem;
    padding: 4px;
    color: white;
    font-size: 16px;
}

.LoginButton-login:hover {
    background-color: #4c76cf;
    border: none;
    cursor: pointer;
}

.login-signup {
    padding-bottom: 1rem;
}

.login-signup {
    color: #212529;
    font-size: 16px;
}

.login-signup p{
    color: #212529;
    font-size: 16px;
}

.login-signup a {
    color: #4d70bd;
    cursor: pointer;
}

.login-signup a:hover {
    color: #3557a0;
    cursor: pointer;
}

.ForgotPassword-login a:hover {
    color: #f76d6d;
    cursor: pointer;
}

.LoginFacebook-login {
    background-color: #4d70bd;
    border: none;
    border-radius: 10px;
    padding: 4px;
}

.LoginFacebook-login:hover {
    background-color: #3d67c2;
    border: none;
    cursor: pointer;
}

.LoginGoogle-login {
    background-color: #fa5f40;
    border: none;
    border-radius: 10px;
    padding: 4px;
}

.LoginGoogle-login:hover {
    background-color: #fa5736 !important;
    border: none !important;
    cursor: pointer;
}


.LoginFacebook-login p, .LoginGoogle-login {
    color: white;
    font-size: 16px;
}

.LoginFacebook-login svg, .LoginFacebook-login p, .LoginGoogle-login svg, .LoginGoogle-login p{
    display: inline-block;
}

.LoginFacebook-login svg, .LoginGoogle-login svg {
    vertical-align: middle;
    margin: 0 .5rem 4px 0;
}



/*----------------------------------------------------------------

/*Responsive*/ 

/* จอ notebook */
@media only screen and (max-width: 1921px) {
    .container-login {
        margin: 3.5% auto 0 auto;
        padding: 10px 15px;
    }
    .LoginForm img {
        width: 130px;
        height: 130px;
    }
    .LoginForm .h1{
        font-size: 22px;
    }
    .ForgotPassword-login a{
        font-size: 14px;
    }
    .btn-block p, .login-signup p{
        font-size: 16px;
    }
    .LoginFacebook-login p, .LoginGoogle-login, .LoginButton-login p{
        font-size: 16px;
    }
    .alert-login {
        padding: .3rem;
        margin: 1rem auto;
    }
    .alert-login span{
        font-size: 14px;
    }
}

/* จอคอม */
@media only screen and (min-width: 1920px) {
    .container-login {
        margin: 8% auto 0 auto;
        padding: 10px 15px;
    }
    .LoginForm img {
        width: 140px;
        height: 140px;
    }
    .LoginForm .h1{
        font-size: 25px;
    }
    .ForgotPassword-login a{
        font-size: 16px;
    }
    .btn-block p, .login-signup p{
        font-size: 18px;
    }
    .LoginFacebook-login p, .LoginGoogle-login, .LoginButton-login p{
        font-size: 18px;
    }
    .alert-login span{
        font-size: 16px;
    }
}

/* จอฮวก */
@media only screen and (max-width: 1367px) {
    .container-login {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 10px 15px;
    }
    .LoginForm img {
        width: 130px;
        height: 130px;
    }
    .LoginForm .h1{
        font-size: 22px;
    }
    .ForgotPassword-login a{
        font-size: 14px;
    }
    .btn-block p, .login-signup p{
        font-size: 16px;
    }
    .LoginFacebook-login p, .LoginGoogle-login, .LoginButton-login p{
        font-size: 16px;
    }
    .alert-login {
        padding: .3rem;
        margin: 1rem auto;
    }
    .alert-login span{
        font-size: 14px;
    }
    .container-loginbottom{
        padding-bottom: 40px;
    }
}

/* iPad Pro */ 
@media only screen and (max-width: 1025px) {
    .container-login {
        margin: 32% auto 0 auto;
        padding: 10px 15px;
        width: 450px;
    }
    .LoginForm img {
        width: 140px;
        height: 140px;
    }
    .LoginForm .h1{
        font-size: 25px;
    }
    .ForgotPassword-login a{
        font-size: 16px;
    }
    .login-signup p{
        font-size: 18px;
    }
    .LoginFacebook-login p, .LoginGoogle-login, .LoginButton-login p{
        font-size: 18px;
    }
    .alert-login {
        padding: .2rem;
        margin: 1rem auto;
    }
    .alert-login span{
        font-size: 16px;
    }
}

/* iPad */
@media only screen and (max-width: 769px) {
    .container-login {
        margin: 27% auto 0 auto;
        padding: 10px 20px;
        width: 400px;
    }
    .LoginForm img {
        width: 110px;
        height: 110px;
    }
    .LoginForm .h1{
        font-size: 19px;
    }
    .ForgotPassword-login a{
        font-size: 12px;
    }
    .btn-block p, .login-signup p{
        font-size: 13px;
    }
    .LoginFacebook-login p, .LoginGoogle-login, .LoginButton-login p{
        font-size: 13px;
    }
    .alert-login {
        padding: .2rem;
        margin: 1rem auto;
    }
    .alert-login span{
        font-size: 13px;
    }
    
}

/* iPhone 6/7/8 + */
@media only screen and (max-width: 415px) {
    .container-login {
        width: 85%;
        border-radius: 20px;
        margin: 12% auto 14% auto;
        padding: 10px 15px;
    }
    .LoginForm img {
        width: 100px;
        height: 100px;
    }
    .LoginForm .h1{
        font-size: 20px;
    }
    .ForgotPassword-login a{
        font-size: 13px;
    }
    .btn-block p, .login-signup p{
        font-size: 15px;
    }
    .LoginFacebook-login p, .LoginGoogle-login, .LoginButton-login p{
        font-size: 15px;
    }
    .alert-login {
        padding: .2rem;
        margin: 1rem auto;
    }
    .alert-login span{
        font-size: 14px;
    }
}

/* iPhone 6/7/8  */ 
@media only screen and (max-width: 376px) {
    .container-login {
        width: 85%;
        border-radius: 20px;
        margin: 9% auto 19% auto;
        padding: 10px 15px;
    }
    .LoginForm img {
        width: 100px;
        height: 100px;
    }
    .LoginForm .h1{
        font-size: 20px;
    }
    .ForgotPassword-login a{
        font-size: 11px;
    }
    .btn-block p, .login-signup p{
        font-size: 13px;
    }
    .LoginFacebook-login p, .LoginGoogle-login, .LoginButton-login p{
        font-size: 13px;
    }
    .alert-login {
        padding: .1rem;
        margin: 1rem auto;
    }
    .alert-login span{
        font-size: 12px;
    }
}

/* iPhone 5 */
@media only screen and (max-width: 321px) {
    .container-login {
        width: 85%;
        border-radius: 20px;
        margin: 10% auto 25% auto;
        padding: 10px 10px;
    }
    .LoginForm img {
        width: 100px;
        height: 100px;
    }
    .LoginForm .h1{
        font-size: 20px;
    }
    .ForgotPassword-login a{
        font-size: 11px;
    }
    .btn-block p, .login-signup p{
        font-size: 13px;
    }
    .LoginFacebook-login p, .LoginGoogle-login, .LoginButton-login p{
        font-size: 13px;
    }
    .alert-login {
        padding: .1rem;
        margin: 1rem auto;
    }
    .alert-login span{
        font-size: 12px;
    }

    .container-loginbottom{
        padding-bottom: 10px;
    }
}
