.mypost_deleteimgpost1 {
  background-color: rgb(245, 245, 245);
  color: grey;
  border: none;
  border-radius: 50px;
}

.mypost_deleteimgpost2 {
  width: 8%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-top: -300px;
  margin-left: 135px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.4s ease;
}

.mypost_deleteimgpost2:hover {
  margin-top: -300px;
  margin-left: 135px;
  border-radius: 50px;
  border: none;
  background-color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.commentother {
  color: blue;
  font-size: 15px;
  margin-top: -25px;
  margin-bottom: 30px;
}

.container-mypost {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}

.mypost-profile-img img.img-circle {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.mypost-name {
  margin-left: 65px;
  margin-top: -55px;
  color: #212529;
  font-size: 18px;
}

.mypost-date {
  margin-left: 65px;
  margin-top: -25px;
  color: grey;
  font-size: 14px;
}

.mypost-time {
  margin-left: 5px;
  color: grey;
}

/* .mypostbuttonreported {
  margin-top: -55px;
  width: 30px;
  background: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 5px;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto;
  margin-right: 0px;
  color: grey;
}*/

.mypostbuttonreported {
  float: right;
  border: none;
  background-color: white;
  color: grey;
  border-radius: 50px;
}

.mypostbuttonreported:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.modalreport {
  font-family: "Kanit", sans-serif;
}

.bigreport1 {
  margin-left: auto;
  margin-right: auto;
}

.reportcheckbox {
  font-size: 16px;
}

.form-groupreport {
  margin-bottom: 15px;
}

.spanreport {
  font-size: 16px;
  color: #ff392e;
}

.spanreport2 {
  font-size: 16px;
  color: #1fd307;
}

.container-img-holder-imgpreviewreport .imgpreview {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-left: -200px; */
  margin-right: 10px;
}

.btn {
  font-size: 16px !important;
  border-radius: 0.5rem !important;
  padding: 5px 15px 5px 15px !important;
}

/* .imgpreview {
  overflow: hidden;
  background-color: white;
}

.imgpreview img {
  transition: all 0.3s ease 0s;
  width: 100%;
}

.imgpreview:hover {
  transform: scale(2.5);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
} */

.imgcommentitempost1 {
  margin-top: 10px;
}

.uploadprovereport {
  width: 100px;
  padding: 10px;
  cursor: pointer;
}

.uploadproveeditreport {
  justify-items: center;
  align-items: center;
}

.uploadproveeditreport1 {
  margin-top: 15px;
  width: 195px;
  height: 195px;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  display: block;
}

.uploadproveeditreport1:hover {
  background-color: rgb(201, 200, 200);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.uploadproveeditreport2 {
  width: 100%;
  padding: 60px;
  cursor: pointer;
}

.mypostimg-setting {
  width: 30px;
}

.menu-containermypostsetting {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypostbuttonsetting {
  margin-top: -60px;
  width: 30px;
  background: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 0px;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto;
}

.mypostbuttonsetting:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.mypostmenusetting {
  background: #ffffff;
  border-radius: 7px;
  position: absolute;
  top: 0px;
  right: 0;
  font-size: 15px;
  width: 110px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.mypostmenusetting.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.mypostmenusetting .ul-mypostmenusetting {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mypostmenusetting .li-mypostmenusetting {
  border-bottom: 1px solid #dddddd;
}

.mypostmenusetting .li-mypostmenusetting .a-mypostmenusetting {
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  display: block;
}

.mypostmenusetting
  .li-mypostmenusetting
  .a-mypostmenusetting
  .a-mypostmenusetting1 {
  color: black;
}

.mypostmenusetting
  .li-mypostmenusetting
  .a-mypostmenusetting
  .a-mypostmenusetting1:hover {
  color: black;
}

.container-mypost3 {
  width: 80%;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  /* padding-left: 10px;
      padding-right: 10px; */
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}

.mypostprofile-bad-img {
  text-align: center;
  margin-top: 0px;
  padding-bottom: 0px;
}

.mypostprofile-bad-img img.img-circle {
  width: 130px;
  height: 130px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.mypost-left {
  margin-right: 90px;
}

.spanmypost {
  color: #ff392e;
}

.spanmypostname {
  color: #ff392e;
}

.img-bad {
  margin: 5px 0 15px 0;
  width: 152px;
  height: 152px;
  position: relative;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.imgcommentitemmypost1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container-mypost4 {
  width: 100%;
  padding: 20px;
}

.mypost-comment-img2 img.img-circle2 {
  width: 50px;
  border-radius: 50%;
}

.mypost-comment-name2 {
  margin-left: 60px;
  margin-top: -55px;
}

.mypost-comment-name2 .mypost-comment-time2 {
  margin-left: 5px;
  margin-top: -55px;
  font-size: 14px;
  color: grey;
}

.mypost-comment-comments2 {
  /* background-color: rgb(245, 245, 245); */
  width: 80%;
  height: 10%;
  margin-left: 250px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-radius: 15px;
  /* box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2); */
}

.uploadprove2 {
  width: 20%;
  margin-top: -5px;
}

.mypost-writecommemt {
  margin-left: -170px;
  /* margin-top: -30px; */
}

.inputcomment {
  background-color: rgb(245, 245, 245);
  border: none;
}

.mypost-profilecomment-img img.img-circle {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-top: -10px;
}

.line-comments1 {
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
  margin-top: 40px;
}

.formsize-mypost {
  margin-top: 15px;
  width: 100%;
  font-size: 18px;
  margin-left: -30px;
  margin-bottom: 0px;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
}

.vl {
  width: 100%;
  height: 50px;
  border-top: 3px solid rgba(146, 146, 146, 0.479);
  display: none;
}

.imgcommentitemreport1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.postdeletereport {
  display: flex;
  width: 100%;
}

.imgpreviewreport {
  margin-top: 15px;
  width: 195px;
  height: 195px;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.deleteimgreports1 {
  position: relative;
  right: 15px;
  top: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  font-size: 13px;
  font-family: sans-serif;
}

.deleteimgreports2 {
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.deleteimgreports2:hover {
  transition: box-shadow 0.4s ease;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.modalreport2{
 margin-top: 290px;
}
.showsuccessreport{
  width: 500px;
  color: #238516;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Kanit", sans-serif;
}
/*Responsive*/
@media only screen and (min-width: 1920px) {
  .img-bad {
    width: 192px;
    height: 192px;
  }
  .modalreport2{
    margin-top: 390px;
   }
}

@media only screen and (max-width: 1367px) {
  .img-bad {
    width: 136px;
    height: 136px;
  }
  .modalreport2{
    margin-top: 320px;
   }
}
/* @media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1024px) {
  .container-mypost {
    width: 80%;
  }
  .container-mypost4 {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .container-mypost {
    width: 88%;
  }
  .container-mypost3 {
    width: 95%;
  }
  .container-mypost4 {
    width: 88%;
  }
}

@media only screen and (max-width: 450px) {
  .h1-mypost {
    font-size: 25px;
  }
  .container-mypost {
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    margin-top: -10px;
  }
  .container-mypost3 {
    width: 85%;
  }
  .img-bad {
    width: 100px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .vl {
    display: block;
  }
  .container-mypost4 {
    margin-top: -100px;
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    margin-top: -100px;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .text-mypost,
  .spanmypost {
    font-size: 19px;
  }
  .mypost-comment-name1,
  .mypost-comment-name2,
  .mypost-comment-name3 {
    font-size: 19px;
  }
  .mypost-comment-comments1,
  .mypost-comment-comments2 {
    font-size: 16px;
  }
  .mypostprofile-bad-img img.img-circle {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 414px) {
  .h1-mypost {
    font-size: 25px;
  }
  .container-mypost {
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    margin-top: -10px;
  }
  .container-mypost3 {
    width: 85%;
  }
  .img-bad {
    width: 100px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .vl {
    display: block;
  }
  .container-mypost4 {
    margin-top: -100px;
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    margin-top: -100px;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .text-mypost,
  .spanmypost {
    font-size: 19px;
  }
  .mypost-comment-name1,
  .mypost-comment-name2,
  .mypost-comment-name3 {
    font-size: 19px;
  }
  .mypost-comment-comments1,
  .mypost-comment-comments2 {
    font-size: 16px;
  }
  .mypostprofile-bad-img img.img-circle {
    width: 120px;
    height: 120px;
  }
  .formsize-mypost {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 375px) {
  .img-bad {
    width: 90px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .mypost-name {
    font-size: 19px;
  }
  .mypost-date {
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .text-mypost,
  .spanmypost {
    font-size: 16px;
  }
  .img-bad {
    width: 75px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .container-mypost4 {
    margin-top: -120px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .mypost-comment-img1 img.img-circle1,
  .mypost-comment-img2 img.img-circle2,
  .mypost-comment-img3 img.img-circle3 {
    width: 40px;
  }
  .mypost-comment-name1,
  .mypost-comment-name2,
  .mypost-comment-name3 {
    font-size: 16px;
  }
  .mypost-comment-comments1,
  .mypost-comment-comments2 {
    font-size: 15px;
  }
} */
