.container-bigpost1 {
  width: 70%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.column-post-left1 {
  width: 63%;
  height: 2000px;
}

.column-post-right1 {
  width: 34%;
  height: 50px;
}

.postbigrow {
  width: 100%;
  margin: 0 !important;
}

.container-post1 {
  width: 90%;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}

.container-post1:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}

.monkey {
  width: 80%;
  margin-left: 80px;
}

.post-linkpost1 {
  width: 100%;
  font-size: 22px;
  text-align: center;
  font-family: "Kanit", sans-serif;
  color: #5c5c5c;
}

.container-bottoms {
  padding-bottom: 60px;
}

.container-posts2 {
  width: 90%;
  border-radius: 10px;
  background-color: white;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: "Kanit", sans-serif;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}

.post-profile-img img.img-circle {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.posts-name1 {
  margin-left: 80px;
  margin-top: -55px;
  color: #212529;
  font-size: 18px;
}

.post-date {
  margin-left: 60px;
  margin-top: -25px;
  color: #5c5c5c;
  font-size: 14px;
}

.post-time {
  margin-left: 20px;
  color: grey;
}

.container-posts3 {
  width: 94%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px 20px 40px;
}

/* หน้า entersearch, findthief */
.container-postss3 {
  width: 94%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px 20px 40px;
}

.spanpost {
  color: #ff392e;
}

.spanpostname {
  color: #ff392e;
}

.spanpost1 {
  color: #ff392e;
}

.post-lefts {
  width: 500px;
  margin-left: -15px;
}

.formsize-post {
  margin-top: -30px;
}

.form-label,
.spanpost {
  font-size: 16px;
}

.postothers {
  color: blue;
  font-size: 16px;
  text-align: right;
}

.line-posts1 {
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
  margin-top: 10px;
}

.container-posts4 {
  width: 100%;
  padding: 20px;
}

.container-postright1 {
  width: 100%;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Kanit", sans-serif;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}

.container-postright1:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}

.post-linkpost2 {
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 5px;
  color: #5c5c5c;
}

.post-img1 {
  text-align: center;
}

.facebook {
  width: 20%;
}

.container-postright2 {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Kanit", sans-serif;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}

.container-postrights2 {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin-top: 120px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}

.post-group1 {
  font-size: 18px;
  color: #5c5c5c;
}

.post-groupsorting1 {
  margin-left: 30px;
  width: 50%;
  height: 35px;
  font-size: 16px;
  color: #5c5c5c;
  padding-left: 10px;
  border-radius: 0.5rem;
  border: 1px solid #5c5c5c;
}

.line-postgroup1 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
}

.post-namegroup1 {
  color: #5c5c5c;
  font-size: 18px;
  margin-bottom: 10px;
}

.groupcheckbox1 {
  color: #5c5c5c;
  font-size: 16px;
  margin-bottom: 5px;
  z-index: 0;
}

.line-postgroup2 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
}

.post-namegroup2 {
  color: #5c5c5c;
  font-size: 18px;
  margin-bottom: 10px;
}

.groupcheckbox2 {
  color: #5c5c5c;
  font-size: 16px;
  margin-bottom: 5px;
  z-index: 0;
}

.line-postgroup3 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
}

.post-namegroup3 {
  color: #5c5c5c;
  font-size: 18px;
  margin-bottom: 10px;
}

.postnumber1 {
  width: 30%;
  height: 35px;
  font-size: 16px;
  color: #5c5c5c;
  margin-left: 15px;
  padding-left: 10px;
  border-radius: 0.5rem;
  border: 1px solid #5c5c5c;
}

.postnumber2 {
  width: 30%;
  height: 35px;
  font-size: 16px;
  color: #5c5c5c;
  padding-left: 10px;
  border-radius: 0.5rem;
  border: 1px solid #5c5c5c;
}

.post-numbergroup2 {
  margin-left: 10px;
  margin-right: 10px;
}

/* หน้า entersearch, findthief */
.h1-posts {
  margin-top: 50px;
  text-align: center;
  font-size: 21px;
  font-family: "Kanit", sans-serif;
  color: #5c5c5c;
}

.spansearch {
  color: #ff392e;
}

/* หน้า managepost */

.adminbuttonreported {
  float: right;
  border: none;
  background-color: white;
  color: gray;
  border-radius: 50px;
}

.adminbuttonreported:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.column-post-lefts1 {
  width: 63%;
  margin-left: 15px;
  height: 2000px;
  margin-top: 30px;
}

.column-post-rights1 {
  width: 34%;
  height: 50px;
  margin-top: 30px;
}

.post-left1 {
  width: 63%;
  margin-left: auto;
  margin-right: auto;
  height: 2000px;
}
.fa-check-circle {
  color: gray;
}

/*slide*/

.bigslide {
  display: none;
}

.modal-title {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
}

/* .btnslide {
  width: 30px;
  height: 180px;
  background-color: #f4bebc !important;
  margin: 30px 0 0 946px !important;
} */

.container-postright2-slide {
  width: 100%;
  padding: 0 20px;
  font-family: "Kanit", sans-serif;
}

.post-group1-slide {
  font-size: 18px;
  color: #5c5c5c;
}

.post-groupsorting1-slide {
  margin-left: 30px;
  width: 50%;
  height: 35px;
  font-size: 16px;
  color: #5c5c5c;
  padding-left: 10px;
  border-radius: 0.5rem;
  border: 1px solid #5c5c5c;
}

.line-postgroup1-slide {
  text-align: center;
  margin: 20px 0;
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
}

.post-namegroup1-slide {
  color: #5c5c5c;
  font-size: 18px;
  margin-bottom: 10px;
}

.groupcheckbox1-slide {
  color: #5c5c5c;
  font-size: 16px;
  margin: 0 50px -10px 5px;
  z-index: 0;
}

.line-postgroup2-slide {
  text-align: center;
  margin: 20px 0;
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
}

.post-namegroup2-slide {
  color: #5c5c5c;
  font-size: 18px;
  margin-bottom: 10px;
}

.groupcheckbox2-slide {
  color: #5c5c5c;
  font-size: 16px;
  margin-bottom: 5px;
  z-index: 0;
}

.line-postgroup3-slide {
  text-align: center;
  margin: 20px 0;
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
}

.post-namegroup3-slide {
  color: #5c5c5c;
  font-size: 18px;
  margin-bottom: 10px;
}

.postnumber1-slide {
  width: 30%;
  height: 35px;
  font-size: 16px;
  color: #5c5c5c;
  margin-left: 15px;
  padding-left: 10px;
  border-radius: 0.5rem;
  border: 1px solid #5c5c5c;
}

.post-numbergroup2-slide {
  margin-left: 10px;
  margin-right: 10px;
}

.postnumber2-slide {
  width: 30%;
  height: 35px;
  font-size: 16px;
  color: #5c5c5c;
  padding-left: 10px;
  border-radius: 0.5rem;
  border: 1px solid #5c5c5c;
}

/*end-slide*/

/*Responsive*/
@media only screen and (min-width: 1920px) {
  .container-bigpost1 {
    width: 60%;
  }

  .post-linkpost1 {
    font-size: 24px;
  }

  .posts-name1,
  .post-linkpost2,
  .post-group1,
  .post-namegroup1,
  .post-namegroup2,
  .post-namegroup3 {
    font-size: 20px;
  }

  .post-date {
    font-size: 16px;
  }

  .form-label,
  .spanpost,
  .postothers,
  .post-groupsorting1,
  .groupcheckbox1,
  .groupcheckbox2,
  .postnumber1,
  .postnumber2 {
    font-size: 18px;
  }

  .container-postrights2 {
    font-size: 22px;
  }

  .h1-posts {
    font-size: 23px;
  }
}

@media only screen and (max-width: 1367px) {
  .post-linkpost1 {
    font-size: 22px;
  }

  .posts-name1,
  .post-linkpost2,
  .post-group1,
  .post-namegroup1,
  .post-namegroup2,
  .post-namegroup3 {
    font-size: 18px;
  }

  .post-date {
    font-size: 14px;
  }

  .form-label,
  .spanpost,
  .postothers,
  .post-groupsorting1,
  .groupcheckbox1,
  .groupcheckbox2,
  .postnumber1,
  .postnumber2 {
    font-size: 16px;
  }

  .container-postrights2 {
    font-size: 20px;
  }

  .h1-posts {
    font-size: 21px;
  }
}

@media only screen and (max-width: 1025px) {
  .container-bigpost1 {
    width: 80%;
  }

  .container-post1 {
    margin-top: 30px;
  }

  .monkey {
    margin-left: 60px;
  }

  .post-linkpost1 {
    font-size: 20px;
    margin-left: -10px;
  }

  .container-posts2 {
    margin-top: 30px;
  }

  .posts-name1 {
    font-size: 17px;
    margin-top: -50px;
  }

  .post-linkpost2,
  .post-group1,
  .post-namegroup1,
  .post-namegroup2,
  .post-namegroup3 {
    font-size: 17px;
  }

  .post-date {
    font-size: 13px;
  }

  .form-label,
  .spanpost,
  .postothers,
  .groupcheckbox1,
  .groupcheckbox2 {
    font-size: 15px;
  }

  .post-groupsorting1,
  .postnumber1,
  .postnumber2 {
    height: 25px;
    font-size: 15px;
  }

  .container-postright1,
  .container-postright2 {
    margin-top: 30px;
  }

  .h1-posts {
    font-size: 21px;
  }
}

@media only screen and (max-width: 769px) {
  .container-bigpost1 {
    width: 80%;
  }

  .container-post1 {
    margin-top: 30px;
  }

  .monkey {
    margin-left: 20px;
  }

  .post-linkpost1 {
    font-size: 20px;
    margin-left: -10px;
  }

  .container-posts2 {
    margin-top: 30px;
  }

  .posts-name1 {
    font-size: 15px;
    margin-top: -47px;
  }

  .post-linkpost2,
  .post-group1,
  .post-namegroup1,
  .post-namegroup2,
  .post-namegroup3 {
    font-size: 15px;
  }

  .post-date {
    font-size: 11px;
  }

  .form-label,
  .spanpost,
  .postothers,
  .groupcheckbox1,
  .groupcheckbox2 {
    font-size: 13px;
  }

  .post-groupsorting1 {
    height: 25px;
    font-size: 13px;
    margin-left: 5px;
  }

  .line-postgroup1 {
    margin: 20px 0 15px 0;
  }

  .line-postgroup2,
  .line-postgroup3 {
    margin: 15px 0;
  }

  .postnumber1,
  .postnumber2 {
    height: 25px;
    font-size: 13px;
  }

  .container-postright1,
  .container-postright2 {
    margin-top: 30px;
  }

  .container-posts3 {
    padding: 30px 0px 20px 0px !important;
  }

  .h1-posts {
    font-size: 21px;
  }

  .container-bottoms {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 415px) {
  .container-bigpost1 {
    width: 100%;
  }

  .bigslide {
    display: inline;
  }

  .column-post-left1 {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

  .post-linkpost1 {
    font-size: 17px;
    margin-left: -5px;
  }

  .modal-title {
    font-size: 17px;
  }

  .container-post1 {
    width: 96.5%;
    height: 120px;
    margin-top: 0px;
  }

  .container-posts2 {
    width: 96.5%;
    margin-top: 30px;
  }

  .posts-name1 {
    font-size: 15px;
    margin-top: -45px;
    margin-left: 70px;
  }

  .post-linkpost2,
  .post-group1-slide,
  .post-namegroup1-slide,
  .post-namegroup2-slide,
  .post-namegroup3-slide {
    font-size: 15px;
  }

  .post-date {
    font-size: 11px;
    margin-left: 50px;
  }

  .form-label,
  .spanpost,
  .postothers,
  .groupcheckbox1-slide,
  .groupcheckbox2-slide {
    font-size: 13px;
  }

  .postnumber1-slide,
  .postnumber2-slide {
    font-size: 13px;
    height: 25px;
  }

  .post-groupsorting1-slide {
    font-size: 13px;
    height: 25px;
    margin: 0 10px;
  }

  .container-postright1 {
    display: none;
  }

  .container-postright2 {
    display: none;
  }

  .h1-posts {
    font-size: 21px;
  }

  .monkey {
    margin-left: 30px;
  }

  .container-bottoms {
    padding-bottom: 60px;
  }

  .container-postright2-slide {
    padding: 0 10px;
  }

  .line-postgroup1-slide {
    margin: 15px 0;
  }

  .line-postgroup2-slide,
  .line-postgroup3-slide {
    margin: 10px 0;
  }

  .fa-filter {
    font-size: 14px !important;
    color: #5c5c5c;
  }

  .btnslide {
    box-shadow: none !important;
    background-color: none !important;
    margin: -89px 0 0 255px !important;
  }

  .modal-content {
    /* width: 65% !important;
    height: 1180px !important; */
    margin: 0 60px !important;
  }

  .container-posts3 {
    padding: 30px 0px 20px 0px !important;
  }

  .post-lefts {
    width: 300px;
  }

  .profile-mypost {
    width: 45px !important;
    height: 45px !important;
  }
}

@media only screen and (max-width: 376px) {
  .post-linkpost1 {
    font-size: 17px !important;
    margin-left: -5px;
  }

  .bigslide {
    display: inline;
  }

  .modal-title {
    font-size: 17px !important;
  }

  .container-post1 {
    width: 96.5%;
    height: 110px;
    margin-top: 0px;
  }

  .container-posts2 {
    width: 96.5%;
    margin-top: 30px;
  }

  .posts-name1 {
    font-size: 15px;
    margin-top: -45px;
    margin-left: 65px;
  }

  .post-linkpost2,
  .post-group1-slide,
  .post-namegroup1-slide,
  .post-namegroup2-slide,
  .post-namegroup3-slide {
    font-size: 15px;
  }

  .post-date {
    font-size: 11px;
    margin-left: 45px;
  }

  .form-label,
  .spanpost,
  .postothers,
  .groupcheckbox1-slide,
  .groupcheckbox2-slide {
    font-size: 13px;
  }

  .postnumber1-slide,
  .postnumber2-slide {
    font-size: 13px;
    height: 25px;
  }

  .post-groupsorting1-slide {
    font-size: 13px;
    height: 25px;
    margin: 0 10px;
  }

  .container-postright1 {
    display: none;
  }

  .container-postright2 {
    display: none;
  }

  .h1-posts {
    font-size: 21px;
  }

  .monkey {
    margin-left: 30px;
  }

  .container-bottoms {
    padding-bottom: 60px;
  }

  .container-postright2-slide {
    padding: 0 10px;
  }

  .line-postgroup1-slide {
    margin: 15px 0;
  }

  .line-postgroup2-slide,
  .line-postgroup3-slide {
    margin: 10px 0;
  }

  .fa-filter {
    font-size: 14px !important;
    color: #5c5c5c;
  }

  .btnslide {
    box-shadow: none !important;
    background-color: none !important;
    margin: -89px 0 0 225px !important;
  }

  .modal-content {
    /* width: 65% !important;
    height: 1180px !important; */
    margin: 0 50px !important;
  }

  .container-posts3 {
    padding: 45px 0px 20px 0px !important;
  }

  .post-lefts {
    width: 270px;
  }

  .profile-post {
    width: 45px !important;
    height: 45px !important;
  }
}

@media only screen and (max-width: 321px) {
  .post-linkpost1 {
    font-size: 16px !important;
    margin-left: -10px;
  }

  .bigslide {
    display: inline;
  }

  .modal-title {
    font-size: 16px !important;
  }

  .container-post1 {
    width: 96.5%;
    height: 100px;
    margin-top: 0px;
  }

  .container-posts2 {
    width: 96.5%;
    margin-top: 30px;
  }

  .posts-name1 {
    font-size: 14px;
    margin-top: -40px;
    margin-left: 60px;
  }

  .post-linkpost2,
  .post-group1-slide,
  .post-namegroup1-slide,
  .post-namegroup2-slide,
  .post-namegroup3-slide {
    font-size: 14px;
  }

  .post-date {
    font-size: 10px;
    margin-left: 40px;
  }

  .form-label,
  .spanpost,
  .postothers,
  .groupcheckbox1-slide,
  .groupcheckbox2-slide {
    font-size: 12px;
  }

  .postnumber1-slide,
  .postnumber2-slide {
    font-size: 12px;
    height: 25px;
  }

  .post-groupsorting1-slide {
    font-size: 12px;
    height: 25px;
    margin: 0 10px;
  }

  .container-postright1 {
    display: none;
  }

  .container-postright2 {
    display: none;
  }

  .h1-posts {
    font-size: 21px;
  }

  .monkey {
    margin-left: 10px;
  }

  .container-bottoms {
    padding-bottom: 60px;
  }

  .container-postright2-slide {
    padding: 0 10px;
  }

  .line-postgroup1-slide {
    margin: 15px 0;
  }

  .line-postgroup2-slide,
  .line-postgroup3-slide {
    margin: 10px 0;
  }

  .fa-filter {
    font-size: 14px !important;
    color: #5c5c5c;
  }

  .btnslide {
    box-shadow: none !important;
    background-color: none !important;
    margin: -89px 0 0 170px !important;
  }

  .modal-content {
    /* width: 65% !important;
    height: 1180px !important; */
    margin: 0 45px !important;
  }

  .container-posts3 {
    padding: 30px 0px 20px 0px !important;
  }

  .post-lefts {
    margin: 0 0 0 -5px;
    width: 240px;
  }

  .profile-post {
    width: 40px !important;
    height: 40px !important;
  }
}
