.container-bigpost1 {
  width: 70%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.column-post-left1 {
  width: 63%;
  height: auto;
}
.column-post-right1 {
  width: 37%;
  height: 50px;
}
.postbigrow {
  width: 100%;
}
.container-post1 {
  width: 90%;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}
.container-post1:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.monkey {
  width: 80%;
  margin-left: 80px;
}
.post-linkpost1 {
  width: 100%;
  font-size: 22px;
  text-align: center;
  font-family: "Kanit", sans-serif;
  color: #5c5c5c;
}
.container-posts2 {
  width: 90%;
  border-radius: 10px;
  background-color: white;
  margin: 40px auto 0 auto;
  padding: 20px;
  font-family: "Kanit", sans-serif;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}
.container-posts2-admin {
  width: 90%;
  border-radius: 10px;
  background-color: white;
  margin: 70px auto 0 auto;
  padding: 20px;
  font-family: "Kanit", sans-serif;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}
.post-profile-img img.img-circle {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.posts-name1 {
  margin: -50px 0 2px 70px;
  color: #212529;
  font-size: 18px;
}
.post-date {
  margin: -28px 0 0 50px;
  color: #5c5c5c;
  font-size: 14px;
}
.post-time {
  margin-left: 20px;
  color: grey;
}
.container-posts3 {
  margin: 30px 0;
  padding: 40px 40px 20px 40px;
}
.post-left {
  font-size: 16px;
}

/* หน้า entersearch, findthief */
.container-postss3 {
  margin: 30px 0;
  padding: 20px 10px 0 10px;
}
.spanpost {
  font-size: 16px;
  color: #ff392e;
}
.spanpostname {
  font-size: 16px;
  color: #ff392e;
}
.spanpost1 {
  font-size: 16px;
  color: #ff392e;
}
.post-lefts {
  font-size: 16px;
  width: 500px;
  margin-left: -15px;
}
.formsize-post {
  margin-top: -30px;
}
.form-label {
  font-size: 16px;
}
.postothers {
  color: blue;
  font-size: 16px;
  text-align: right;
}
.line-posts1 {
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
  margin-top: 10px;
}
.container-posts4 {
  width: 100% !important;
  padding: 20px 20px 0 20px !important;
}
.container-postright1 {
  width: 100%;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  margin: 50px auto 0 auto;
  padding: 20px;
  font-family: "Kanit", sans-serif;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}
.container-postright1:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.post-linkpost2 {
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 5px;
  color: #5c5c5c;
}
.post-img1 {
  text-align: center;
}
.facebook {
  width: 20%;
}
.container-postright2 {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin: 40px auto 0 auto;
  padding: 20px;
  font-family: "Kanit", sans-serif;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}
.container-postrights2,
.container-postrights2-admin {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin: 115px auto 0 auto;
  padding: 20px;
  font-family: "Kanit", sans-serif;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}
.post-group1 {
  font-size: 18px;
  color: #5c5c5c;
}
.post-groupsorting1 {
  margin-left: 30px;
  width: 60%;
  height: 35px;
  font-size: 16px;
  color: #5c5c5c;
  padding-left: 10px;
  border-radius: 0.5rem;
  border: 1px solid #5c5c5c;
}
.line-postgroup1 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
}
.post-namegroup1 {
  color: #5c5c5c;
  font-size: 18px;
  margin-bottom: 10px;
}
.groupcheckbox1 {
  color: #5c5c5c;
  font-size: 16px;
  margin-bottom: 5px;
  z-index: 0;
}
.line-postgroup2 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
}
.post-namegroup2 {
  color: #5c5c5c;
  font-size: 18px;
  margin-bottom: 10px;
}
.groupcheckbox2 {
  color: #5c5c5c;
  font-size: 16px;
  margin-bottom: 5px;
  z-index: 0;
}

/* หน้า entersearch, findthief */
.h1-posts,
.h1-posts-admin {
  margin-top: 50px !important;
  text-align: center;
  font-size: 21px;
  font-family: "Kanit", sans-serif;
  color: #5c5c5c;
}
.spansearch {
  color: #ff392e;
}

/* หน้า managepost */
.adminbuttonreported {
  float: right;
  border: none;
  background-color: white;
  color: gray;
  font-size: 20px;
  border-radius: 50px;
}
.adminbuttonreported:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.column-post-lefts1 {
  width: 63%;
  margin-left: 15px;
  height: 2000px;
  margin-top: 30px;
}
.column-post-rights1 {
  width: 34%;
  height: 50px;
  margin-top: 30px;
}
.post-left1 {
  width: 63%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.fa-check-circle {
  color: gray;
}
.none-post {
  display: none;
}
.none-lastname {
  display: none;
}
.none-search {
  display: none;
}

/*slide*/
.btnslide {
  display: none !important;
}
.container-postright2-slide {
  width: 100%;
  padding: 0 20px;
  font-family: "Kanit", sans-serif;
}
.post-group1-slide {
  font-size: 18px;
  color: #5c5c5c;
}
.post-groupsorting1-slide {
  margin-left: 30px;
  width: 50%;
  height: 35px;
  font-size: 16px;
  color: #5c5c5c;
  padding-left: 10px;
  border-radius: 0.5rem;
  border: 1px solid #5c5c5c;
}
.line-postgroup1-slide {
  text-align: center;
  margin: 20px 0;
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
}
.post-namegroup1-slide {
  color: #5c5c5c;
  font-size: 18px;
  margin-bottom: 10px;
}
.groupcheckbox1-slide {
  color: #5c5c5c;
  font-size: 16px;
  /* margin: 0 50px -10px 5px; */
  z-index: 0;
}
.line-postgroup2-slide {
  text-align: center;
  margin: 20px 0;
  border-bottom: 2px solid rgba(146, 146, 146, 0.3);
  align: center;
}
.post-namegroup2-slide {
  color: #5c5c5c;
  font-size: 18px;
  margin-bottom: 10px;
}
.groupcheckbox2-slide {
  color: #5c5c5c;
  font-size: 16px;
  margin-bottom: 5px;
  z-index: 0;
}
.container-postbottoms {
  padding-bottom: 120px;
}

/*end-slide*/

/*Responsive*/
@media only screen and (min-width: 1920px) {
  .container-bigpost1 {
    width: 60%;
  }
  .post-linkpost1 {
    font-size: 25px;
  }
  .posts-name1,
  .post-linkpost2,
  .post-group1,
  .post-namegroup1,
  .post-namegroup2 {
    font-size: 20px;
  }
  .post-date {
    font-size: 16px;
  }
  .form-label,
  .spanpost,
  .postothers,
  .post-groupsorting1,
  .post-left,
  .spanpostname,
  .spanpost1,
  .groupcheckbox1,
  .groupcheckbox2 {
    font-size: 18px;
  }
  .post-lefts {
    font-size: 16px;
    width: 500px;
  }
  .h1-posts,
  .h1-posts-admin {
    font-size: 24px;
  }
  /* slide */
  .btnslide {
    display: none !important;
  }
  /* end-slide */
}

@media only screen and (max-width: 1367px) {
  .post-linkpost1 {
    font-size: 22px;
  }
  .posts-name1,
  .post-linkpost2,
  .post-group1,
  .post-namegroup1,
  .post-namegroup2 {
    font-size: 18px;
  }
  .post-date {
    font-size: 14px;
  }
  .form-label,
  .spanpost,
  .postothers,
  .post-groupsorting1,
  .post-left,
  .spanpostname,
  .spanpost1,
  .groupcheckbox1,
  .groupcheckbox2 {
    font-size: 16px;
  }
  .post-lefts {
    font-size: 16px;
    width: 415px;
  }
  .h1-posts,
  .h1-posts-admin {
    font-size: 21px;
  }
  .none-post {
    display: block;
  }
  /* slide */
  .btnslide {
    display: none !important;
  }
  /* end-slide */
}

@media only screen and (max-width: 1025px) {
  .container-bigpost1 {
    width: 80%;
  }
  .container-post1,
  .container-postright1 {
    margin-top: 30px;
    height: 140px;
  }
  .container-postright2 {
    margin-top: 30px;
  }
  .monkey {
    margin-left: 60px;
  }
  .post-linkpost1 {
    font-size: 18px;
    margin-left: -10px;
  }
  .container-posts2 {
    margin-top: 30px;
  }
  .container-posts2-admin {
    margin: 60px auto 0 auto;
  }
  .posts-name1 {
    font-size: 17px;
  }
  .post-date {
    font-size: 13px;
  }
  .post-linkpost2 {
    font-size: 15px;
  }
  .facebook {
    width: 19%;
  }
  .post-group1,
  .post-namegroup1,
  .post-namegroup2 {
    font-size: 17px;
  }
  .form-label,
  .spanpost,
  .postothers,
  .post-left,
  .spanpostname,
  .spanpost1,
  .groupcheckbox1,
  .groupcheckbox2 {
    font-size: 15px;
  }
  .post-lefts {
    font-size: 15px;
    width: 350px;
  }
  .post-groupsorting1 {
    width: 65%;
    height: 25px;
    font-size: 15px;
    margin: 0 7px;
  }
  .container-postrights2 {
    margin: 80px auto 0 auto;
  }
  .container-postrights2-admin {
    margin: 100px auto 0 auto;
  }
  .line-posts1 {
    margin: 20px 0 !important;
  }
  .none-post {
    display: block;
  }
  .h1-posts {
    font-size: 17px;
    margin: 30px 0;
  }
  .h1-posts-admin {
    font-size: 17px;
    margin: 50px 0 30px 0;
  }
  .container-posts4 {
    width: 100% !important;
    padding: 0 !important;
  }
  .container-posts3,
  .container-postss3 {
    padding: 35px auto 10px auto !important;
  }
  .post-left1 {
    width: 75%;
  }

  /* slide */
  .btnslide {
    display: none !important;
  }
  /* end-slide */
}

@media only screen and (max-width: 769px) {
  .container-bigpost1 {
    width: 80%;
  }
  .container-post1,
  .container-postright1 {
    margin-top: 30px;
    padding: 17px;
    height: 140px;
  }
  .container-postright2 {
    margin-top: 30px;
  }
  .monkey {
    margin-left: 10px;
  }
  .post-linkpost1 {
    font-size: 19px;
    margin-left: -10px;
  }
  .container-posts2 {
    margin-top: 30px;
  }
  .container-posts2-admin {
    margin: 60px auto 0 auto;
  }
  .posts-name1 {
    font-size: 15px;
    margin: -45px 0 2px 70px;
  }
  .post-date {
    font-size: 11px;
  }
  .post-linkpost2 {
    font-size: 14px;
  }
  .facebook {
  }
  .post-group1,
  .post-namegroup1,
  .post-namegroup2 {
    font-size: 15px;
  }
  .form-label,
  .spanpost,
  .postothers,
  .post-left,
  .spanpostname,
  .spanpost1,
  .groupcheckbox1,
  .groupcheckbox2 {
    font-size: 13px;
  }
  .post-lefts {
    font-size: 13px;
    width: 300px;
  }
  .post-groupsorting1 {
    width: 75%;
    height: 25px;
    font-size: 13px;
    margin: 5px 0 0 0;
    padding-left: 5px;
  }
  .line-postgroup1 {
    margin: 20px 0 15px 0;
  }
  .line-postgroup2 {
    margin: 15px 0;
  }
  .container-postrights2 {
    margin: 80px auto 0 auto;
  }
  .container-postrights2-admin {
    margin: 100px auto 0 auto;
  }
  .container-posts3,
  .container-postss3 {
    padding: 30px 20px 10px 20px !important;
  }
  .line-posts1 {
    margin: 20px 0 !important;
  }
  .none-post {
    display: block;
  }
  .h1-posts {
    font-size: 17px;
    margin: 30px 0;
  }
  .h1-posts-admin {
    font-size: 17px;
    margin: 50px 0 30px 0;
  }
  .container-posts4 {
    padding: 0 !important;
  }
  .adminbuttonreported {
    font-size: 17px;
  }
  .post-left1 {
    width: 88%;
  }

  /* slide */
  .btnslide {
    display: none !important;
  }
  /* end-slide */
}

@media only screen and (max-width: 415px) {
  .container-bigpost1 {
    width: 100%;
  }
  .postbigrow {
    margin: 0 !important;
  }
  /* slide */
  .bigslide {
    width: 70% !important;
    margin: 0 0 0 30% !important;
    height: auto !important;
  }
  .ui.modal .content > .description {
    padding: 0 !important;
  }
  .ui.modal > .content {
    padding: 0 1rem 1rem 1rem !important;
  }
  .ui.modal > .header:not(.ui) {
    font-weight: 100;
  }
  .btnslide {
    width: 35%;
    height: 30px;
    margin: 20px 0 20px 230px !important;
    padding: 5px !important;
    border-radius: 45px !important;
    display: block !important;
    color: #5c5c5c !important;
    background: #d9e9f2 !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
  }
  .fa-filter {
    font-size: 14px !important;
    color: #5c5c5c;
  }
  .spanslide {
    font-size: 15px !important;
    font-family: "Kanit", sans-serif !important;
  }
  .nameslide {
    font-size: 17px !important;
    color: #5c5c5c !important;
    font-family: "Kanit", sans-serif !important;
  }
  .btncloseslide {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: -60px 0 0 255px !important;
    vertical-align: middle;
  }
  .fa-times {
    font-size: 20px !important;
    color: #5c5c5c;
  }
  .ui.modal > .actions {
    padding: 0.75rem 0.5rem 0.75rem !important;
  }
  .btncloseslide2 {
    font-size: 15px !important;
    color: #fff !important;
    border-radius: 0.5rem;
    padding: 10px 15px !important;
    margin: 0 !important;
    background-color: #5c83cc !important;
    font-family: "Kanit", sans-serif !important;
  }
  .post-namegroup1-slide,
  .post-namegroup2-slide {
    font-size: 15px;
  }
  .post-group1-slide {
    margin: 0 !important;
    font-size: 15px;
  }
  .groupcheckbox1-slide,
  .groupcheckbox2-slide {
    font-size: 13px;
  }
  .post-groupsorting1-slide {
    font-size: 13px;
    width: 140px;
    height: 25px;
    margin: 0 10px;
  }
  .container-postright2-slide {
    padding: 0 10px;
  }
  .line-postgroup1-slide {
    margin: 15px 0;
  }
  .line-postgroup2-slide {
    margin: 10px 0;
  }
  /* end-slide */

  .adminbuttonreported {
    font-size: 18px;
  }
  .column-post-left1 {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  .post-linkpost1 {
    font-size: 17px;
    margin-left: -5px;
  }
  .container-post1 {
    width: 96.5%;
    height: 120px;
    margin-top: 30px;
  }
  .container-posts2 {
    width: 96.5%;
    margin-top: 20px;
  }
  .posts-name1 {
    font-size: 15px;
  }
  .post-date {
    font-size: 11px;
  }
  .post-linkpost2 {
    font-size: 15px;
  }
  .form-label,
  .spanpost,
  .postothers,
  .post-left,
  .spanpostname,
  .spanpost1 {
    font-size: 13px !important;
  }
  .post-lefts {
    font-size: 13px;
    width: 300px;
  }
  .container-postright1 {
    display: none;
  }
  .container-postright2,
  .container-postrights2,
  .container-postrights2-admin {
    display: none;
  }
  .h1-posts {
    font-size: 18px;
    margin: 30px 0;
  }
  .h1-posts-admin {
    font-size: 18px;
    margin: 50px 0 30px 0;
  }
  .monkey {
    margin-left: 5px;
  }
  .container-posts3,
  .container-postss3 {
    padding: 30px auto 0 auto !important;
  }
  .line-posts1 {
    margin: 20px 0 !important;
  }
  .profile-post {
    width: 45px !important;
    height: 45px !important;
  }
  .container-posts4 {
    padding: 0 !important;
  }
  .none-post {
    display: block;
  }
  .none-search {
    display: block;
  }
  .container-postbottoms {
    padding-bottom: 90px;
  }
  .container-posts2-admin {
    width: 96.5%;
    margin: 10px auto 0 auto;
  }
  .post-left1 {
    width: 88%;
  }
}

@media only screen and (max-width: 376px) {
  .post-linkpost1 {
    font-size: 17px !important;
    margin-left: -5px;
  }
  .postbigrow {
    margin: 0 !important;
  }
  /* slide */
  .bigslide {
    width: 75% !important;
    margin: 0 0 0 25% !important;
    height: auto !important;
  }
  .ui.modal .content > .description {
    padding: 0 !important;
  }
  .ui.modal > .content {
    padding: 0 1rem 1rem 1rem !important;
  }
  .ui.modal > .header:not(.ui) {
    font-weight: 100;
  }
  .btnslide {
    width: 35%;
    height: 30px;
    margin: 20px 0 20px 210px !important;
    padding: 5px !important;
    border-radius: 45px !important;
    display: block !important;
    color: #5c5c5c !important;
    background: #d9e9f2 !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
  }
  .fa-filter {
    font-size: 14px !important;
    color: #5c5c5c;
  }
  .spanslide {
    font-size: 15px !important;
    font-family: "Kanit", sans-serif !important;
  }
  .nameslide {
    font-size: 17px !important;
    color: #5c5c5c !important;
    font-family: "Kanit", sans-serif !important;
  }
  .btncloseslide {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: -60px 0 0 230px !important;
    vertical-align: middle;
  }
  .fa-times {
    font-size: 20px !important;
    color: #5c5c5c;
  }
  .ui.modal > .actions {
    padding: 0.75rem 0.5rem 0.75rem !important;
    margin: 0 20px 0 0 !important;
  }
  .btncloseslide2 {
    font-size: 15px !important;
    color: #fff !important;
    border-radius: 0.5rem;
    padding: 10px 15px !important;
    margin: 0 !important;
    background-color: #5c83cc !important;
    font-family: "Kanit", sans-serif !important;
  }
  .post-group1-slide,
  .post-namegroup1-slide,
  .post-namegroup2-slide {
    font-size: 15px;
  }
  .groupcheckbox1-slide,
  .groupcheckbox2-slide {
    font-size: 13px;
  }
  .post-groupsorting1-slide {
    font-size: 13px;
    width: 140px;
    height: 25px;
    margin: 0 10px;
  }
  .container-postright2-slide {
    padding: 0 10px;
  }
  .line-postgroup1-slide {
    margin: 15px 0;
  }
  .line-postgroup2-slide {
    margin: 10px 0;
  }
  /* end-slide */

  .adminbuttonreported {
    font-size: 17px;
  }
  .container-post1 {
    width: 96.5%;
    height: 110px;
    margin-top: 30px;
  }
  .container-posts2 {
    width: 96.5%;
    margin-top: 20px;
  }
  .posts-name1 {
    font-size: 15px;
  }
  .post-date {
    font-size: 11px;
  }
  .post-linkpost2 {
    font-size: 15px;
  }
  .form-label,
  .spanpost,
  .postothers,
  .post-left,
  .spanpostname,
  .spanpost1 {
    font-size: 13px !important;
  }
  .post-lefts {
    font-size: 13px;
    width: 270px;
  }
  .container-postright1 {
    display: none;
  }
  .container-postright2,
  .container-postrights2,
  .container-postrights2-admin {
    display: none;
  }
  .h1-posts {
    font-size: 18px;
    margin: 30px 0;
  }
  .h1-posts-admin {
    font-size: 18px;
    margin: 50px 0 30px 0;
  }
  .monkey {
    margin-left: 5px;
  }
  .container-posts3,
  .container-postss3 {
    padding: 45px 0 0 0 !important;
  }
  .line-posts1 {
    margin: 20px 0 !important;
  }
  .profile-post {
    width: 45px !important;
    height: 45px !important;
  }
  .container-posts4 {
    padding: 0 !important;
  }
  .none-post {
    display: block;
  }
  .none-search {
    display: block;
  }
  .container-posts2-admin {
    width: 96.5%;
    margin: 10px auto 0 auto;
  }
}

@media only screen and (max-width: 321px) {
  .post-linkpost1 {
    font-size: 14px !important;
    margin-left: -10px;
  }
  .postbigrow {
    margin: 0 !important;
  }
  /* slide */
  .bigslide {
    width: 85% !important;
    margin: 0 0 0 15% !important;
    height: auto !important;
  }
  .ui.modal .content > .description {
    padding: 0 !important;
  }
  .ui.modal > .content {
    padding: 0 1rem 1rem 1rem !important;
  }
  .ui.modal > .header:not(.ui) {
    font-weight: 100;
  }
  .btnslide {
    width: 35%;
    height: 30px;
    margin: 20px 0 20px 180px !important;
    padding: 5px !important;
    border-radius: 45px !important;
    display: block !important;
    color: #5c5c5c !important;
    background: #d9e9f2 !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
  }
  .fa-filter {
    font-size: 14px !important;
    color: #5c5c5c;
  }
  .spanslide {
    font-size: 15px !important;
    font-family: "Kanit", sans-serif !important;
  }
  .nameslide {
    font-size: 16px !important;
    color: #5c5c5c !important;
    font-family: "Kanit", sans-serif !important;
  }
  .btncloseslide {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: -60px 0 0 235px !important;
    vertical-align: middle;
  }
  .fa-times {
    font-size: 20px !important;
    color: #5c5c5c;
  }
  .ui.modal > .actions {
    padding: 0.75rem 0.5rem 0.75rem !important;
  }
  .btncloseslide2 {
    font-size: 14px !important;
    color: #fff !important;
    border-radius: 0.5rem;
    padding: 10px 15px !important;
    margin: 0 !important;
    background-color: #5c83cc !important;
    font-family: "Kanit", sans-serif !important;
  }
  .post-group1-slide,
  .post-namegroup1-slide,
  .post-namegroup2-slide {
    font-size: 14px;
  }
  .groupcheckbox1-slide,
  .groupcheckbox2-slide {
    font-size: 12px;
  }
  .post-groupsorting1-slide {
    font-size: 12px;
    width: 135px;
    height: 25px;
    margin: 0 10px;
  }
  .container-postright2-slide {
    padding: 0 10px;
  }
  .line-postgroup1-slide {
    margin: 15px 0;
  }
  .line-postgroup2-slide {
    margin: 10px 0;
  }
  /* end-slide */

  .adminbuttonreported {
    font-size: 17px;
  }
  .container-post1 {
    width: 96.5%;
    height: 100px;
    margin-top: 30px;
  }
  .container-posts2 {
    width: 96.5%;
    margin-top: 20px;
  }
  .posts-name1 {
    font-size: 14px;
    margin: -40px 0 0 60px;
  }
  .post-linkpost2 {
    font-size: 14px;
  }
  .post-date {
    font-size: 10px;
    margin: -22px 0 4px 40px;
  }
  .form-label,
  .spanpost,
  .postothers,
  .post-left,
  .spanpostname,
  .spanpost1 {
    font-size: 12px !important;
  }
  .post-lefts {
    font-size: 12px;
    margin: 0 0 0 -5px;
    width: 240px;
  }
  .container-postright1 {
    display: none;
  }
  .container-postright2,
  .container-postrights2,
  .container-postrights2-admin {
    display: none;
  }
  .h1-posts {
    font-size: 17px;
    margin: 30px 0;
  }
  .h1-posts-admin {
    font-size: 17px;
    margin: 50px 0 30px 0;
  }
  .monkey {
    margin-left: 5px;
  }
  .container-posts3,
  .container-postss3 {
    padding: 30px 0 0 0 !important;
  }
  .line-posts1 {
    margin: 20px 0 !important;
  }
  .profile-post {
    width: 40px !important;
    height: 40px !important;
  }
  .container-posts4 {
    padding: 0 !important;
  }
  .none-post {
    display: block;
  }
  .none-lastname {
    display: block;
  }
  .none-search {
    display: block;
  }
  .container-posts2-admin {
    width: 96.5%;
    margin: 10px auto 0 auto;
  }
}
