.container-profile {
    margin: 25px auto;
    padding: 10px 15px;
    font-family: 'Kanit', sans-serif;
    background-color: white;
    width: 430px;
    height: auto;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    border-radius: 20px;
}

.ProfileForm {
    width: 100%;
    height: auto;
    max-width: 376px;
    padding: 10px;
    margin: 0 auto;
}

.ProfileForm .h1{
    margin-top: 1rem;
    color:  #5c5c5c;
    font-size: 25px
}

.profile-badformpost-img {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 1rem;
} 

.profile-badformpost-img img.img-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center; 
    border-radius: 50%;
}

.form-group {
    color: #6C757D;
}

.label-form-title-profile, .form-inside-profile {
    font-size: 16px;
    display: inline-block;
    color: inherit;
}

.EditProfile {
    background-color: #f87c7c;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.EditProfile:hover {
    background-color: #ff6464;
    border: none;
}

.ChangePassword {
    background-color: #5c83cc;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.ChangePassword:hover {
    background-color: #3c6fce;
    border: none;
}

.EditProfile p, .ChangePassword p {
    color: white;
    font-size: 16px;
    display: inline-block;
}

.EditProfile div, .ChangePassword div {  
    display: inline-block;
    margin: 0 -10px 0 0;
}



/* =================================================================

/*Responsive*/ 

/* notebook */
@media only screen and (max-width: 1921px) {
    .container-profile {
        margin: 2% auto 0 auto;
    }
    .label-form-title-profile, .form-inside-profile p{
        font-size: 16px;
    }
    .ProfileForm .h1 {
        font-size: 22px
    }
    .label-form-title-profile{
        width: 40%;
        float: left;
        text-align: right;
    }
    .BirthDate {
        margin-bottom: -1rem;
        margin-top: 1rem;
    }
    .phone {
        margin-bottom: -3rem;
    }
    .Email {
        margin-top: -1rem;
    }

    .form-inside-profile {
        width: 60%;
        padding-left: 7%;
    }

}

/* computer */
@media only screen and (min-width: 1920px) {
    .container-profile {
        margin: 6% auto 0 auto;
    }
    .ProfileForm .h1 {
        font-size: 25px
    }
    .label-form-title-profile, .form-inside-profile p{
        font-size: 18px;
    }
    .EditProfile p, .ChangePassword p {
        font-size: 18px;
    }
    .label-form-title-profile{
        width: 40%;
        float: left;
        text-align: right;
    }
    .form-inside-profile {
        width: 60%;
        padding-left: 7%;
    }
}

/* Huak */
@media only screen and (max-width: 1367px) {
    .container-profile {
        margin: .5% auto 0 auto;
    }
    .label-form-title-profile, .form-inside-profile p{
        font-size: 16px;
    }
    .label-form-title-profile{
        width: 40%;
        float: left;
        text-align: right;
    }
    .BirthDate {
        margin-bottom: -1rem;
        margin-top: 1rem;
    }
    .phone {
        margin-bottom: -3rem;
    }
    .Email {
        margin-top: -1rem;
    }

    .form-inside-profile {
        width: 60%;
        padding-left: 7%;
    }
    .EditProfile p, .ChangePassword p {
        font-size: 16px;
    }
}

/* iPad Pro */
@media only screen and (max-width: 1025px) {

}

/* iPad */
@media only screen and (max-width: 769px) {

}

/* iPhone 6/7/8 + */
@media only screen and (max-width: 415px) {

}

/* iPhone 6/7/8 */
@media only screen and (max-width: 376px) {

}

/* iPhone 5 */
@media only screen and (max-width: 320px) {

}

